<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bitcamp.gachi.admin.GoodsDaoImp">

<select id="selectAllGoods" parameterType="map" resultType="com.bitcamp.gachi.admin.GoodsVO">
	  select code , category, goods_name, prime_cost, real_price , stock, to_char(writedate , 'yyyy-mm-dd')writedate, sale_state from goods
	  where to_char(writedate, 'yyyy-mm-dd')&gt;=#{startDate} and to_char(writedate, 'yyyy-mm-dd')&lt;=#{endDate}	   
</select>
<select id="selectGoods" parameterType="String" resultType="com.bitcamp.gachi.admin.GoodsVO">
	  select code, category, goods_name, prime_cost, real_price , stock, sale_count, to_char(writedate , 'yyyy-mm-dd')writedate, 
	  sale_state, goods_info, goods_img1, goods_img2 from goods
	  where code = #{code}
</select>
<select id="selectStoreList" parameterType="map" resultType="com.bitcamp.gachi.admin.GoodsVO">

		SELECT * FROM
		(SELECT A.*,
		ROWNUM AS RNUM
		FROM
		(SELECT
		code, category, goods_name, prime_cost, real_price , stock,to_char(writedate, 'yyyy-mm-dd')writedate , 
		sale_state from goods
		where to_char(writedate, 'yyyy-mm-dd')&gt;= #{startDate} and to_char(writedate, 'yyyy-mm-dd')&lt;= #{endDate}
		<choose>
			<when test='category==null and sale_State==null and search==null '></when>
			<when test='category!=null and sale_State==null and search==null'>
				and category='${category}'
			</when>
			<when test='category==null and sale_State!=null and search==null'>
				and sale_State='${sale_State}'
			</when>
			<when test='category==null and sale_State==null and search!=null'>
				and (goods_name like '%${search}%' or category like '%${search}%' or code like '%${search}%')		
			</when> 
			
			<when test='category==null and sale_State!=null and search!=null'>
				and sale_State='${sale_State}' and (goods_name like '%${search}%' or category like '%${search}%' or code like '%${search}%' )
			</when>
			<when test='category!=null and sale_State!=null and search==null'>
				and category='${category}' and sale_State='${sale_State}'
			</when>
			<when test='category!=null and sale_State==null and search!=null'>
				and category='${category}' and (goods_name like '%${search}%' or category like '%${search}%' or code like '%${search}%' )		
			</when>
			
			<when test='category!=null and sale_State!=null and search!=null'>
				and category='${category}' and sale_State='${sale_State}' and (goods_name like '%${search}%' or category like '%${search}%' or code like '%${search}%')		
			</when>
			<otherwise></otherwise>
		</choose>
		) A
		WHERE
		ROWNUM &lt;= ${endNum}
		)
		WHERE
		RNUM &gt;= ${startNum}
	</select>
	<select id="selectCntAllGoods" parameterType="map" resultType="_int">
		select count(*) as cnt from goods 
		join goods_order on goods_order.code = goods.code
		join orderlist on goods_order.order_code = orderlist.order_code
		join member on orderlist.userid = member.userid
		<choose>
			<when test='category==null and sale_State==null and search==null '></when>
			<when test='category!=null and sale_State==null and search==null'>
				where goods.category='${category}'
			</when>
			<when test='category==null and sale_State!=null and search==null'>
				where sale_State='${sale_State}'
			</when>
			<when test='category==null and sale_State==null and search!=null'>
				where (goods.goods_name like '%${search}%' or goods.category like '%${search}%' or goods.code like '%${search}%')		
			</when>
			<when test='category==null and sale_State!=null and search!=null'>
				where sale_State='${sale_State}' and (goods.goods_name like '%${search}%' or goods.category like '%${search}%' or goods.code like '%${search}%' )
			</when>
			<when test='category!=null and sale_State!=null and search==null'>
				where goods.category='${category}' and sale_State='${sale_State}'
			</when>
			<when test='category!=null and sale_State==null and search!=null'>
				where goods.category='${category}' and (goods.goods_name like '%${search}%' or goods.category like '%${search}%' or goods.code like '%${search}%' )		
			</when>
			
			<when test='category!=null and sale_State!=null and search!=null'>
				where goods.category='${category}' and sale_State='${sale_State}' and (goods.goods_name like '%${search}%' or goods.category like '%${search}%' or goods.code like '%${search}%')		
			</when>
			<otherwise></otherwise>
		</choose>
	</select>
	<select id="selectStoreImg" parameterType="String" resultType="String">
		select goods_img1 from goods where code='${code}'
	</select>
	<update id="updateStoreImg" parameterType="String">
		update goods set goods_img1='${param1}' where code='${param2}'
	</update>
	<update id="updateStore" parameterType="com.bitcamp.gachi.admin.GoodsVO">
		update goods set category='${category}', goods_name='${goods_name}', prime_cost='${prime_cost}',
		real_price='${real_price}', sale_state='${sale_state}', stock='${stock}', stack='${stack}', 
		goods_info='${goods_info}', goods_img1='${goods_img1}', goods_img2='${goods_img2}'
		
		where code='${code}'  
	</update>
	<insert id="insertStore" parameterType="com.bitcamp.gachi.admin.GoodsVO">
		insert into goods(code, category, goods_name, prime_cost, real_price, stock, stack, writedate, startdate, enddate, sale_state, goods_info, good, grade, goods_img1, goods_img2)
		values(#{code}, #{category}, #{goods_name}, #{prime_cost}, ${real_price}, ${stock}, ${stack}, sysdate, #{startdate}, #{enddate}, #{sale_state}, #{goods_info}, 0, 0, #{goods_img1}, #{goods_img2})
	</insert>
	<select id="selectTodayGoodsCnt" parameterType="String" resultType="int">
		select count(*) as cnt from goods where to_char(writedate, 'yyyy-mm-dd') = #{writedate}
	</select>
	<delete id="deleteOne" parameterType="String">
		delete from goods where code=#{code}
	</delete>
</mapper>
