<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitcamp.gachi.admin.ClassDaoImp">
	<select id="getAllRecordCount" parameterType="com.bitcamp.gachi.admin.TestVO" resultType="int">
		select count(code) from class where code like '%c%'
	</select>
	<select id="getClassList" parameterType="com.bitcamp.gachi.admin.TestVO" resultType="com.bitcamp.gachi.admin.ClassVO">
		select * from (select * from (select code,category,class_name,nickname,total_student,to_char(signup,'YYYY-MM-DD') signup,
		to_char(allow,'YYYY-MM-DD') allow,class_state from class c join member m on c.userid=m.userid 
		<choose>
			<when test="dateOption==null or category==null"></when>
			<when test='!dateOption.equals("전체") and !category.equals("전체") and !class_state.equals("전체")'>
				where ${dateOption} between '${date1}' and '${date2}' and category='${category}' and class_state='${class_state}'
			</when>
			<when test='!dateOption.equals("전체") and !category.equals("전체") and class_state.equals("전체")'>
				where ${dateOption} between '${date1}' and '${date2}' and category='${category}'
			</when>
			<when test='!dateOption.equals("전체") and category.equals("전체") and class_state.equals("전체")'>
				where ${dateOption} between '${date1}' and '${date2}'
			</when>
			<when test='dateOption.equals("전체") and !category.equals("전체") and !class_state.equals("전체")'>
				where category='${category}' and class_state='${class_state}'
			</when>
			<when test='!dateOption.equals("전체") and category.equals("전체") and !class_state.equals("전체")'>
				where ${dateOption} between '${date1}' and '${date2}' and class_state='${class_state}'
			</when>
			<when test='dateOption.equals("전체") and category.equals("전체") and !class_state.equals("전체")'>
				class_state='${class_state}'
			</when>
			<when test='dateOption.equals("전체") and !category.equals("전체") and class_state.equals("전체")'>
				category='${category}'
			</when>
			<when test='!dateOption.equals("전체") and category.equals("전체") and class_state.equals("전체")'>
				where ${dateOption} between '${date1}' and '${date2}'
			</when>
			<when test='!option.equals("전체")'>
				where ${option}='${searchWord}'
			</when>
			<when test='option.equals("전체")'>
				where category='${category}' and c.class_name like '%${searchWord}%' or 
				m.nickname like '%${searchWord}%' or c.code like '%${searchWord}%'
			</when>
			<otherwise></otherwise>
		</choose>
		order by c.code desc) 
		where <![CDATA[rownum<=(${nowPage}*${onePageRecord})]]> order by code asc) where <![CDATA[rownum<=${lastPageRecordCount}]]> order by code desc 
	</select>
</mapper>