<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bitcamp.gachi.admin.EventDaoImp">

<select id="selectEventList" parameterType="map" resultType="com.bitcamp.gachi.admin.EventVO">

		SELECT * FROM
		(SELECT A.*,
		ROWNUM AS RNUM
		FROM
		(SELECT
		event_num, subject, to_char(writedate, 'yyyy-mm-dd')writedate ,to_char(startdate, 'yyyy-mm-dd')startdate ,
		to_char(enddate, 'yyyy-mm-dd')enddate from event
		where to_char(writedate, 'yyyy-mm-dd')&gt;= #{startDate} and to_char(writedate, 'yyyy-mm-dd')&lt;= #{endDate}
		<choose>
			<when test='search==null'></when>
			<when test='search!=null'>
				and subject like '%${search}%' 
			</when>
			<otherwise></otherwise>
		</choose>
		) A
		WHERE
		ROWNUM &lt;= ${endNum}
		)
		WHERE
		RNUM &gt;= ${startNum}
	</select>
	<select id="selectCntAllEvent" parameterType="map" resultType="_int">
		select count(*) as cnt from event
		where to_char(writedate, 'yyyy-mm-dd')&gt;= #{startDate} and to_char(writedate, 'yyyy-mm-dd')&lt;= #{endDate}
		<choose>
			<when test='search==null'></when>
			<when test='search!=null'>
				and subject like '%${search}%' 
			</when>
			<otherwise></otherwise>
		</choose>
		
	</select>
	<select id="selectEvent" parameterType="String" resultType="com.bitcamp.gachi.admin.EventVO">
	  select event_num, subject, to_char(writedate, 'yyyy-mm-dd')writedate, to_char(startdate, 'yyyy-mm-dd')startdate ,
		to_char(enddate, 'yyyy-mm-dd')enddate, event_img, content from event
	  where event_num = #{event_num}
	</select>
	
	<update id="updateEvent" parameterType="com.bitcamp.gachi.admin.EventVO">
		update event set subject='${subject}', startdate='${startdate}', enddate='${enddate}', 
			   event_img='${event_img}', content='${content}'
		 where event_num='${event_num}'  
	</update>
		<select id="selectEventImg" parameterType="String" resultType="String">
		select event_img,content from event where event_num='${event_num}'
	</select>
	<update id="updateEventImg" parameterType="String">
		update event set event_img='${event_img}',content='${content}' where event_num='${event_num}'
	</update>
	<insert id="insertEvent" parameterType="com.bitcamp.gachi.admin.EventVO">
		insert into event(event_num, subject, content, writedate, startdate, enddate, event_img) 
		values(a_sq.nextval, #{subject}, #{content}, sysdate, #{startdate}, #{enddate}, #{event_img})
	</insert>
	<delete id="deleteOne" parameterType="int">
		delete from event where event_num=${event_num}
	</delete>
</mapper>