<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitcamp.gachi.classPage.ClassPageDaoImp">
	<select id="classPageAllRecord" parameterType="com.bitcamp.gachi.classPage.ClassPageVO" resultType="com.bitcamp.gachi.classPage.ClassPageVO">
		select * from 
		(select * from 
		(select c.code,c.category,c.class_name,c.real_price,m.nickname, c.stack, c.class_img,c.class_img2, to_char(signup, 'YYYY-MM-DD') signup, c.good
		from class c join member m on c.userid=m.userid 
		<choose>
			<when test='category==null and selectval == null'>
			 where class_state='판매중' )
			</when>
			<when test='category==null and selectval.equals("Iall")'>
			 where class_state='판매중' )
			</when>
			<when test='category==null and selectval.equals("Inew")'>
				where signup<![CDATA[ <= ]]> sysdate and class_state='판매중'  order by signup desc) 
			</when>
			<when test='category==null and selectval.equals("Ipopular")'>
				where signup<![CDATA[ <= ]]> sysdate and class_state='판매중'  order by good desc) 
			</when>
			<when test="category!=null and selectval==null">
				where signup<![CDATA[ <= ]]> sysdate and category='${category}' and class_state='판매중' order by signup asc) 
			</when>
			<when test='category!=null and selectval.equals("Iall")'>
				where signup<![CDATA[ <= ]]> sysdate and category='${category}' and class_state='판매중' order by signup asc) 
			</when>
			<when test='category!=null and selectval.equals("Inew")'>
				where signup<![CDATA[ <= ]]> sysdate and category='${category}' and class_state='판매중'  order by signup desc) 	
			</when>			
			<when test='category!=null and selectval.equals("Ipopular")'>
				where signup<![CDATA[ <= ]]> sysdate and category='${category}' and class_state='판매중'  order by good asc)	
			</when>
		</choose>
		where <![CDATA[rownum<=(${nowPage}*${onePageRecord})]]> order by signup desc)
		where <![CDATA[rownum<=${lastPageRecordCount}]]> 
		<choose>
			<when test='category==null and selectval == null'>
			 order by signup asc
			</when>
			<when test='category==null and selectval.equals("Iall")'>
			 order by signup asc
			</when>
			<when test='category==null and selectval.equals("Inew")'>
			order by signup desc
			</when>
			<when test='category==null and selectval.equals("Ipopular")'>
			order by good desc 
			</when>
			<when test="category!=null and selectval==null">
				order by signup asc
			</when>
			<when test='category!=null and selectval.equals("Iall")'>
				order by signup asc
			</when>
			<when test='category!=null and selectval.equals("Inew")'>
				order by signup asc
			</when>			
			<when test='category!=null and selectval.equals("Ipopular")'>
				order by good desc 
			</when>
		</choose>
	</select>
	<select id="classView" parameterType="String"
		resultType="com.bitcamp.gachi.admin.AllVO">
		select code, category, class_name, real_price, stack, class_info,
		nickname, class_img, class_img2, good
		from class join member on class.userid=member.userid
		where code='${param1}'
	</select>
	<select id="classBoardAllRecordCount"
		parameterType="com.bitcamp.gachi.classPage.ClassPageVO" resultType="int">
		select
		count(code) from class
	</select>
	<select id="classPageCategoryRecordCount"
		parameterType="com.bitcamp.gachi.classPage.ClassPageVO" resultType="int">
		select
		count(code) from class where category='${category}'
	</select>
	<select id="homeClassPopular"
		resultType="com.bitcamp.gachi.admin.AllVO">
		select * from (select code,class_state, category, class_name, real_price,
		nickname, class_img, good from class join member on
		class.userid=member.userid 
		order by good desc ) where rownum<![CDATA[<=3]]> and class_state='판매중'
	</select>
	<select id="homeClassNew"
		resultType="com.bitcamp.gachi.admin.AllVO">
		select * from (select code,class_state, category, class_name, real_price,
		nickname, class_img, good from class join member on
		class.userid=member.userid 
		order by allow desc ) where rownum<![CDATA[<=3]]> and class_state='판매중'
	</select>
	<select id="homeClassRecommand" resultType="com.bitcamp.gachi.admin.AllVO">
		select code,class_state, category, class_name, real_price,
		nickname, class_img, good from class join member on
		class.userid=member.userid  where rownum<![CDATA[<=3]]> and class_state='판매중'
	</select>
	<select id="homeClassInterestFind" resultType="String">
		select interest from member where userid='${userid}'
	</select>
	<select id="homeClassRecommandUser" resultType="com.bitcamp.gachi.admin.AllVO">
		select * from (select code, category, class_name, real_price,
		nickname, class_img, good from class join member on
		class.userid=member.userid
		where category='${interest1}'
		<choose>
			<when test="interest2!=null and interest3==null">
				or category='${interest2}'
				 order by good desc ) where rownum<![CDATA[<=3]]>
			</when>
			<when test="interest2!=null and interest3!=null">
				or category='${interest2}'
				or category='${interest3}'
				 order by good desc ) where rownum<![CDATA[<=3]]>
			</when>
			<otherwise>			
				 order by good desc ) where rownum<![CDATA[<=3]]>
			</otherwise>
		</choose>		
	</select>
	
	<select id="classRecommandUser" resultType="com.bitcamp.gachi.admin.AllVO">
		select code, category, class_name, real_price,
		nickname, class_img, good from class join member on
		class.userid=member.userid
		where category='${interest1}'
		<choose>
			<when test="!interest2.equals('') and interest3.equals('')">
				or category='${interest2}'
				 order by good desc 
			</when>
			<when test="interest2!=null and interest3!=null">
				or category='${interest2}'
				or category='${interest3}'
				 order by good desc 
			</when>
			<otherwise>			
				 order by good desc 
			</otherwise>
		</choose>		
	</select>
	<select id="reviewList"
		resultType="com.bitcamp.gachi.admin.AllVO">
		select num, code, c.userid, nickname, subject, content,
		to_char(c.writedate, 'YY.MM.DD') writedate, c.grade from class_review c
		join member m on c.userid=m.userid
		where code='${param1}' order by num desc
	</select>
	<select id="qnaList" resultType="com.bitcamp.gachi.admin.QnaVO">
		select num, subject, content,
		a.nickname, to_char(writedate, 'YY.MM.DD') writedate, b.nickname
		writer, answer, to_char(answer_writedate,'YY.MM.DD') answer_writedate, q.userid
		from qna q, member a, member b
		where q.userid=a.userid
		and writer=b.userid(+)
		and code='${code}'
		order by num desc
	</select>
	<select id="qnaListSearch" parameterType="com.bitcamp.gachi.admin.AllVO" resultType="com.bitcamp.gachi.admin.QnaVO">
		select subject, content,
		a.nickname, to_char(writedate, 'YY.MM.DD') writedate, b.nickname
		writer, answer, to_char(answer_writedate,'YY.MM.DD') answer_writedate
		from qna q, member a, member b
		where q.userid=a.userid
		and writer=b.userid(+)
		and code='${code}'
		<choose>
			<when test="!searchWord.equals('') and searchWord.equals('작성자')">
				and a.nickname like'%${searchWord}%'
				order by writedate desc
			</when>
			<when test="!searchWord.equals('') and searchWord.equals('제목')">
				and subject like'%${searchWord}%'
				order by writedate desc
			</when>
			<when test="!searchWord.equals('') and searchWord.equals('내용')">
				and content like '%${searchWord}%'
				order by writedate desc
			</when>
			<otherwise>
				order by writedate desc
			</otherwise>
		</choose>
	</select>
	<insert id="insertReview"
		parameterType="com.bitcamp.gachi.admin.AllVO">
		insert into class_review (num, code, userid, subject,
		content, writedate, grade, ip)
		values(a_sq.nextval,'${code}','${userid}','${subject}','${content}',sysdate,
		'${grade}', '${ip}')
	</insert>
	<update id="updateReview" parameterType="com.bitcamp.gachi.admin.AllVO">
		update class_review set grade='${grade}', subject='${subject}', content='${content}' where num=${num}
	</update>
	<insert id="insertQna"
		parameterType="com.bitcamp.gachi.admin.AllVO">
		insert into qna (code, num, subject, content, writedate,
		ip, userid)
		values ('${code}', a_sq.nextval,
		'${subject}','${content}',sysdate, '${ip}', '${userid}')
	</insert>
	<update id="updateQna" parameterType="com.bitcamp.gachi.admin.AllVO">
		update qna set subject='${subject}', content='${content}' where num=${num}
	</update>
	<select id="courseCheck" resultType="int">
		select count(*) from course where code='${code}' and userid='${userid}'
	</select>
	<select id="creatorCheck" resultType="int">
		select count(*) from creator c join class m on c.userid=m.userid where m.userid='${userid}' and code='${code}'
	</select>
</mapper>
