<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitcamp.gachi.classPage.ClassPageDaoImp">
	<select id="classPageAllRecord" parameterType="String" resultType="com.bitcamp.gachi.admin.AllVO">
		select code, category, class_name, real_price, nickname, class_img from class join member on class.userid=member.userid
		<choose>
			<when test="category==null and selectval==null"></when>
			<when test="category==null and selectval.equals('Iall')"></when>
			<when test="category==null and selectval.equals('Inew')">
				order by allow desc		
			</when>
			<when test="category==null and selectval.equals('Ipopular')">
				order by good desc
			</when>
			<when test="category!=null and selectval==null">
				where category='${param1}'
			</when>
			<when test="category!=null and selectval.equals('Iall')">
				where category='${param1}'
			</when>
			<when test="category!=null and selectval.equals('Inew')">
				where category='${param1}' order by allow desc	
			</when>
			<when test="category!=null and selectval.equals('Ipopular')">
				where category='${param1}' order by good desc	
			</when>
		</choose>
	</select>
	<select id="classView" parameterType="String" resultType="com.bitcamp.gachi.admin.AllVO">
		select code, category, class_name, real_price, stack, nickname, class_img from class join member on class.userid=member.userid	
		where code='${param1}'
	</select>
	<select id="homeClassPopular" resultType="com.bitcamp.gachi.admin.AllVO">
		select * from (select code, category, class_name, real_price, nickname, class_img, good from class join member on class.userid=member.userid
	order by good desc ) where rownum<![CDATA[<=3]]>
	</select>
	<select id="homeClassNew" resultType="com.bitcamp.gachi.admin.AllVO">
		select * from (select code, category, class_name, real_price, nickname, class_img, good from class join member on class.userid=member.userid
	order by allow desc ) where rownum<![CDATA[<=3]]>
	</select>
	<select id="qnaList" resultType="com.bitcamp.gachi.admin.QnaVO">
		select subject, content, a.nickname, writedate, b.nickname writer, answer, answer_writedate 
		from qna q, member a, member b
		where q.userid=a.userid
		and writer=b.userid
		and code='${param1}' order by writedate desc
	</select>
</mapper>
