<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bitcamp.gachi.admin.CreatorDaoImp">
	<select id="selectAllCreator" parameterType="map" resultType="com.bitcamp.gachi.admin.AllVO">
	  	 select rownum, m.userid, nickname, username, tel, to_char(signupdate, 'yyyy-mm-dd') 
		signupdate, to_char(withdrawdate, 'yyyy-mm-dd') withdrawdate, deleted ,creator_state
		 from member m full outer join creator c on m.userid = c.userid where grade = '크리에이터'
		 <choose>
				<when test='status==null and search==null'></when>
				<when test='status!=null and search==null'>
					and creator_state='${status}'
				</when>
				<when test='status==null and search!=null'>
					and (username like '%${search}%' or nickname like '%${search}%' or tel like '%${search}%' or m.userid like '%${search}%')
				</when>
				<when test='status!=null and search!=null'>
					and creator_state='${status}' and (username like '%${search}%' or nickname like '%${search}%' or tel like '%${search}%' or m.userid like '%${search}%')
				</when>
				<otherwise></otherwise>
		</choose>
	</select>
	
		<select id="pagingAllCreator" parameterType="map" resultType="com.bitcamp.gachi.admin.AllVO">
	
	SELECT
		    *
		FROM
		    (
		        SELECT
		            A.*,
		            ROWNUM AS RNUM
		        FROM
		            (
		                SELECT
		                   rownum, m.userid, nickname, grade, username, tel, to_char(signupdate, 'yyyy-mm-dd') signupdate, 
	        				to_char(withdrawdate, 'yyyy-mm-dd') withdrawdate, deleted ,business_number,category,bankname,account,
                   			license_img1,license_img2,license_img3, sns_addr, creator_info,creator_state,picture
		                FROM
		                    member m join creator c on m.userid = c.userid
		                WHERE
		                	grade='크리에이터'
		             		<choose>
								<when test='status==null and search==null'></when>
								<when test='status!=null and search==null'>
									 and creator_state='${status}'
								</when>
								<when test='status==null and search!=null'>
									and (username like '%${search}%' or nickname like '%${search}%' or tel like '%${search}%' or m.userid like '%${search}%')
								</when>
								<when test='status!=null and search!=null'>
									and creator_state ='${status}' and (username like '%${search}%' or nickname like '%${search}%' or tel like '%${search}%' or m.userid like '%${search}%')
								</when>
								<otherwise></otherwise>
							</choose>
		            ) A
		        WHERE
		            ROWNUM &lt;= ${endNum}
		    )
		WHERE
		    RNUM &gt;=${startNum}
   	</select>
	
	
		<select id="selectCntAllCreator" parameterType="map" resultType="_int">
		select count(*) as cnt from member m join 
		creator c on m.userid=c.userid where m.grade='크리에이터'
		<choose>
			<when test='staus==null and search==null'></when>
			<when test='staus!=null and search==null'>
				 and creator_state='${status}'
			</when>
			<when test='status==null and search!=null'>
				and (username like '%${search}%' or nickname like '%${search}%' or tel like '%${search}%' or m.userid like '%${search}%')
			</when>
			<when test='status!=null and search!=null'>
				and creator_state='${status}' and (username like '%${search}%' or nickname like '%${search}%' or tel like '%${search}%' or m.userid like '%${search}%')
			</when>
			<otherwise></otherwise>
		</choose>
	</select>
	
	
	
		<select id="countAllCreator" resultType="_int">
		select count(*) from creator
	</select>
	<select id="countNowCreator" resultType="_int">
	<!-- select count(*) from creator where creator_state='승인' -->
		select count(deleted)  from member m join 
		creator c on m.userid=c.userid  where m.deleted='회원' and c.creator_state='승인'
	</select>
	<select id="countDeletedCreator" resultType="_int">
		select count(*) from member where deleted='탈퇴' and grade = '크리에이터'
	</select>
	<select id="creatorBoardSelectAll" parameterType="com.bitcamp.gachi.admin.PagingVO" resultType="com.bitcamp.gachi.admin.AllVO">
		select * from (select * from (select category, m.nickname, picture, c.userid from creator c join member m on c.userid = m.userid  where creator_state='승인'
		<choose>
			<when test="searchWord==null">
				order by m.nickname asc)
				where <![CDATA[rownum<=(${nowPage}*${onePageRecord})]]> order by nickname desc)
				where <![CDATA[rownum<=${lastPageRecordCount}]]>order by nickname asc
			</when>
			<when test="searchWord!=null and searchKey.equals('전체')">
					and m.nickname like '%${searchWord}%'
					order by m.nickname asc)
					where <![CDATA[rownum<=(${nowPage}*${onePageRecord})]]> order by nickname desc)
					where <![CDATA[rownum<=${lastPageRecordCount}]]>order by nickname asc
			</when>
			<when test="searchWord!=null and searchKey!='전체'">
					and category like '%${searchKey}%' and m.nickname like '%${searchWord}%'
					order by m.nickname asc)
					where <![CDATA[rownum<=(${nowPage}*${onePageRecord})]]> order by nickname desc)
					where <![CDATA[rownum<=${lastPageRecordCount}]]>order by nickname asc
			</when>
		</choose>		
	</select>	
	<select id="creatorBoardViewSelect" parameterType="String" resultType="com.bitcamp.gachi.admin.AllVO">
		select picture, nickname, sns_addr, creator_info from member m join creator cre on m.userid=cre.userid  where cre.userid='${param1}'
	</select>
	<select id="creatorBoardViewSelectClass" parameterType="String" resultType="com.bitcamp.gachi.admin.AllVO">
		select creator_info, cla.code, class_name, real_price, class_img from creator cre join class cla on cla.userid=cre.userid where cre.userid='${param1}'
	</select>

	
	<select id="selectCreator" resultType="com.bitcamp.gachi.admin.AllVO">
		select u.userid, grade , username, nickname, tel, to_char(birthdate, 'yyyy-mm-dd')
	  	 birthdate, gender, zipcode, addr, detailaddr, to_char(signupdate, 'yyyy-mm-dd') signupdate, to_char(withdrawdate, 'yyyy-mm-dd') withdrawdate,
	  	 deleted ,creator_state, picture from member u full outer join creator c on u.userid = c.userid where u.userid = #{userid}
	</select>
	<update id="creatorMemberUpdate" parameterType="com.bitcamp.gachi.admin.AllVO"> 
		update member set nickname =#{nickname}, username=#{username}, tel=#{tel} ,gender=#{gender},  zipcode=#{zipcode},
		addr =#{addr},detailaddr =#{detailaddr} where userid = #{userid}
	</update>
	<update id ="creatorStateUpdate" parameterType="map">
		update creator set creator_state=#{state} where userid =#{userid}
	</update>
	<update id="creatorleaveMemberUpdate" parameterType="String">
		update member set deleted='탈퇴',withdrawdate=sysdate where userid =#{userid}
	</update>

	
		<select id="dashForCreator" parameterType="map" resultType="_int">
		<foreach collection="list" item="item" separator=" union all">
 			select count(*) as newMember from member where to_char(signupdate, 'yyyy-mm') = #{item} and grade ='크리에이터' and deleted ='회원'
		</foreach>
	</select>
<!-- 	<delete id="adminMemberDelete">
		delete from member where userid =#{userid}
	</delete> -->
	
	<select id="CreatorForGender" parameterType="map" resultType="map">
		select gender_gb, count(*) cnt 
      from (select case when gender= lower('f') then '여자' when gender=lower('m') then '남자' end gender_gb
      from (select gender from member where withdrawdate is null and grade='크리에이터'
            and to_char(signupdate, 'yyyy-mm')&gt;= #{startMonth} and to_char(signupdate, 'yyyy-mm')&lt;= #{endMonth}
            )
      )
    group by gender_gb
	</select>
	<select id="CreatorForAge" parameterType="map" resultType="map">
		SELECT age_gb, COUNT(*) cnt
	  		FROM (SELECT CASE WHEN age &lt; 10 THEN '유아'
	                    WHEN AGE &gt;= 10 AND age &lt; 20 THEN '10대'
	                    WHEN age &gt;= 20 AND age &lt; 30 THEN '20대'
	                    WHEN age &gt;= 30 AND age &lt; 40 THEN '30대'
	                    WHEN age &gt;= 40 AND age &lt; 50 THEN '40대'
	                    WHEN age &gt;= 50 AND age &lt; 60 THEN '50대'
	                    WHEN age &gt;= 60 THEN '60대이상'
	                END age_gb
	          FROM (SELECT (to_number(to_char(sysdate, 'yyyy'))-to_number(to_char(birthdate, 'yyyy'))+1) as age
	                  FROM member where withdrawdate is null and grade ='크리에이터' and
	                  to_char(signupdate, 'yyyy-mm')&gt;= #{startMonth} and to_char(signupdate, 'yyyy-mm')&lt;= #{endMonth}
	                )
	         	)
 		GROUP BY age_gb ORDER BY age_gb	
	</select>
	
	<select id ="CreatorForCategory" parameterType="map" resultType="map">
		select labels, count(*) data 
      	from (select case when category=('창작/공예') then '창작/공예 ' when category=('미술') then '미술' 
      	when category=('사진/영상') then '사진/영상' when category=('요리') then '요리'
      	when category=('운동') then '운동' when category=('음악') then '음악'
      	when category=('라이프스타일') then '라이프스타일'
      	end labels
      from (select to_char(signupdate, 'yyyy-mm') signupdate ,to_char(withdrawdate, 'yyyy-mm-dd') withdrawdate,
            creator_state , category from member m full outer join creator c on m.userid = c.userid where withdrawdate is null 
            and grade='크리에이터' <!--  and creator_state='승인'  -->
            and to_char(signupdate, 'yyyy-mm')&gt;= #{startMonth} and to_char(signupdate, 'yyyy-mm')&lt;= #{endMonth}
            )
            )
    group by labels
	
	</select>
	<select id="introCreatorSelectAllCount" parameterType="com.bitcamp.gachi.admin.PagingVO" resultType="int">
		select count(*) from  creator c join member m on c.userid = m.userid  where creator_state='승인'
		<choose>
			<when test="searchWord!=null and searchKey=='전체'" >
				and m.nickname like '%${searchWord}%'
			</when>
			<when test="searchWord!=null and searchKey!='전체'" >
				and category like '${searchKey}' and m.nickname like '%${searchWord}%'
			</when>
		</choose>
	</select>
	
	<select id="selectCreatorlist" resultType="com.bitcamp.gachi.admin.AllVO">
		select  picture,member.userid, nickname, to_char(birthdate, 'yyyy-mm-dd') birthdate, tel,
		business_number,bankname , account, sns_addr , creator_info
		from member 
		join creator on member.userid = creator.userid 
		where creator.userid = #{userid}
	</select>
	
	<update id="UpdateCreatorlist" parameterType="com.bitcamp.gachi.admin.AllVO"> 
		update member set userpwd=#{userpwd} , nickname = #{nickname} , tel = #{tel}
		where userid = #{userid}
	</update>
	<update id="UpdateCreatorlist1" parameterType="com.bitcamp.gachi.admin.AllVO"> 
		update creator set business_number =#{business_number}, bankname=#{bankname} ,account =#{account} ,
		picture = #{picture}, sns_addr =#{sns_addr}, creator_info =#{creator_info}
		where userid = #{userid}
	</update>
	
	<!-- 크리에이터탈퇴 -->
	<select id="creatorInfoView" parameterType="String" resultType="com.bitcamp.gachi.admin.AllVO">
		select userid, username, nickname, to_char(birthdate, 'YYYY-MM-DD') birthdate, tel, gender, zipcode, addr, detailaddr,
		 to_char(signupdate, 'YYYY-MM-DD') signupdate, interest from member where userid='${userid}'	
	</select>
	<select id="creatorInfoPwdChk" parameterType="com.bitcamp.gachi.admin.AllVO" resultType="_int">
		select count(userid) from member where userid='${userid}' and userpwd='${userpwd}'
	</select>
	<update id="creatorLeave" parameterType="com.bitcamp.gachi.admin.AllVO">
		update member set deleted='탈퇴', withdrawdate=sysdate where userid='${userid}'
	</update>
	
	<!-- 크리에이터 동영상 -->
	<select id="creVideoAllRecordCount" parameterType="map" resultType="_int">
		select count(video_code) from class_video cv join class c on cv.code=c.code
		join member m on c.userid=m.userid where c.userid='${userid}' and
		enroll_date between to_date('${startDate}','YYYY-MM-DD') 
		and to_date('${endDate}','YYYY-MM-DD')+1   
		<choose>
			<when test="category!=null and searchWord==null ">
				and category='${category}'
			</when>
			<when test="category!=null and searchWord!=null">
				and category='${category}' and cv.video_code like '%${searchWord}%' or 
				cv.video_name like '%${searchWord}%' or c.class_name like '%${searchWord}%' or 
				cv.video_filename like '%${searchWord}%' or m.nickname like '%${searchWord}%'
			</when>
			<when test="category==null and searchWord!=null">
				and cv.video_code like '%${searchWord}%' or cv.video_name like '%${searchWord}%' or 
				c.class_name like '%${searchWord}%' or cv.video_filename like '%${searchWord}%' or
				 m.nickname like '%${searchWord}%'
			</when>
			<otherwise></otherwise>
		</choose>
	</select>
	<select id="creVideoList" resultType="com.bitcamp.gachi.admin.ClassVideoVO" parameterType="map">
		SELECT * FROM
		(SELECT A.*,
		ROWNUM AS RNUM
		FROM
		(select class.code,video_code,class_video.section_code,unit,unit_content,section_index,video_name,class_name,
		substr(to_char(NUMTODSINTERVAL(video_length, 'second')),12,8) lengthStr,video_filename,nickname,
		to_char(enroll_date,'YYYY-MM-DD') enroll_date from class_video join section 
		on class_video.section_code=section.section_code join class on class.code=class_video.code
		join member on member.userid=class.userid
		where to_char(enroll_date,'yyyy-mm-dd')&gt;='${startDate}' and to_char(enroll_date,'yyyy-mm-dd')&lt;='${endDate}' 
		and class.userid='${userid}' 
		<choose>
			<when test="category==null and searchWord==null"></when>
			<when test="category!=null and searchWord==null">
				and class.category='${category}'
			</when>
			<when test="category!=null and searchWord!=null">
				and class.category='${category}' and (class_video.video_code like '%${searchWord}%' or 
				class_video.video_name like '%${searchWord}%' or class.class_name like '%${searchWord}%' or 
				class_video.video_filename like '%${searchWord}%' or member.nickname like '%${searchWord}%')
			</when>
			<when test="category==null and searchWord!=null">
				and (class_video.video_code like '%${searchWord}%' or 
				class_video.video_name like '%${searchWord}%' or class.class_name like '%${searchWord}%' or 
				class_video.video_filename like '%${searchWord}%' or member.nickname like '%${searchWord}%')
			</when>
			
			<otherwise></otherwise>
		</choose>
		) A
		WHERE
		ROWNUM &lt;=${endNum}
		)
		WHERE
		RNUM &gt;=${startNum}
	</select>
	
	<select id="getcreClassList" resultType="com.bitcamp.gachi.admin.ClassVO" parameterType="map">
		select class_name,code from class join member on class.userid=member.userid 
		where class.userid='${userid}' and category='${category}' and class_state='미승인'
	</select>
	<select id="selectClassSeqCurrval" resultType="int">
		SELECT last_number FROM USER_SEQUENCES where sequence_name='CLASS_SQ'
	</select>
	<insert id="creClassInsert" parameterType="com.bitcamp.gachi.admin.ClassVO">
		insert into class(code,category,class_name,full_price,real_price,class_term,class_info,class_img,userid,class_img2)
		values('${code}','${category}','${class_name}',${full_price},${real_price},${class_term},
		'${class_info}','${class_img}','${userid}','${class_img2}')
	</insert>
	<insert id="classCodeInsert" parameterType="String">
		insert into code values('${param}')
	</insert>
	<select id="selectClassNextSeq" resultType="int"> 
	  	select class_sq.NEXTVAL from dual
	</select>
	<select id="selectSectionSeq" resultType="int">
		select section_sq.NEXTVAL from dual
	</select>
	<insert id="sectionInsert" parameterType="com.bitcamp.gachi.admin.ClassVO">
		insert into section values('${section_code}','${code}',${unit},'${unit_content}')
	</insert>
	
	
	<select id="selectcreClassAllCount" parameterType="map" resultType="_int">
			select count(*) from class join member on class.userid=member.userid 
			where class.userid='${userid}' 
			<choose> 
				<when test="category==null and dateOption==null and search==null and class_state==null"></when>
				<when test="category!=null and dateOption==null and search==null and class_state==null">
					and category='${category}' and to_char(signup, 'yyyy-mm-dd')&gt;=#{startDate}
					and to_char(signup, 'yyyy-mm-dd')&lt;=#{endDate}
				</when>
				<when test="category!=null and dateOption!=null and search==null and class_state==null">
					and category='${category}' and to_char(${dateOption}, 'yyyy-mm-dd')&gt;=#{startDate}
					and to_char(${dateOption}, 'yyyy-mm-dd')&lt;=#{endDate}
				</when>
				<when test="category!=null and dateOption!=null and search!=null and class_state==null">
					and category='${category}' and to_char(${dateOption}, 'yyyy-mm-dd')&gt;=#{startDate}
					and to_char(${dateOption}, 'yyyy-mm-dd')&lt;=#{endDate}
					and (code like '%${search}%' or class_name like '%${search}%' or nickname like '%${search}%')
				</when>
				<when test="category!=null and dateOption!=null and search!=null and class_state!=null">
					and category='${category}' and to_char(${dateOption}, 'yyyy-mm-dd')&gt;=#{startDate}
					and to_char(${dateOption}, 'yyyy-mm-dd')&lt;=#{endDate}
					and (code like '%${search}%' or class_name like '%${search}%' or nickname like '%${search}%')
					and class_state='${class_state}' 
				</when>
				
				<when test="category==null and dateOption!=null and search==null and class_state==null">
					and to_char(${dateOption}, 'yyyy-mm-dd')&gt;=#{startDate}
					and to_char(${dateOption}, 'yyyy-mm-dd')&lt;=#{endDate}
				</when>
				<when test="category==null and dateOption!=null and search==null and class_state!=null">
					and to_char(${dateOption}, 'yyyy-mm-dd')&gt;=#{startDate}
					and to_char(${dateOption}, 'yyyy-mm-dd')&lt;=#{endDate} and class_state='${class_state}'
				</when>
				<when test="category==null and dateOption!=null and search!=null and class_state==null">
					 and to_char(${dateOption}, 'yyyy-mm-dd')&gt;=#{startDate}
					and to_char(${dateOption}, 'yyyy-mm-dd')&lt;=#{endDate} and (code like '%${search}%' or class_name like '%${search}%' or nickname like '%${search}%')
				</when>
				<when test="category!=null and dateOption==null and search!=null and class_state!=null">
					and category='${category}'and class_state='${class_state}' 
					and to_char(signup, 'yyyy-mm-dd')&gt;=#{startDate}
					and to_char(signup, 'yyyy-mm-dd')&lt;=#{endDate}
					and (code like '%${search}%' or class_name like '%${search}%' or nickname like '%${search}%')
				</when>
				<when test="category==null and dateOption==null and search!=null and class_state==null">
					and to_char(signup, 'yyyy-mm-dd')&gt;=#{startDate}
					and to_char(signup, 'yyyy-mm-dd')&lt;=#{endDate}
					and (code like '%${search}%' or class_name like '%${search}%' or nickname like '%${search}%')
				</when>
				 <when test="category==null and dateOption==null and search!=null and class_state!=null">
					 and to_char(signup, 'yyyy-mm-dd')&gt;=#{startDate}
					 and to_char(signup, 'yyyy-mm-dd')&lt;=#{endDate}
					 and class_state='${class_state}'  
					 and (code like '%${search}%' or class_name like '%${search}%' or nickname like '%${search}%')
				</when> 
				<when test="category!=null and dateOption==null and search!=null and class_state==null">
					 and category='${category}' and 
					 to_char(signup, 'yyyy-mm-dd')&gt;=#{startDate}
					and to_char(signup, 'yyyy-mm-dd')&lt;=#{endDate}
					and (code like '%${search}%' or class_name like '%${search}%' or nickname like '%${search}%')
				</when>
				
				<when test="category!=null and dateOption!=null and search==null and class_state!=null">
					and category='${category}' and class_state='${class_state}' 
					and to_char(${dateOption}, 'yyyy-mm-dd')&gt;=#{startDate}
					and to_char(${dateOption}, 'yyyy-mm-dd')&lt;=#{endDate}
				</when>
				
				<when test="category!=null and dateOption==null and search!=null and class_state!=null">
					and category='${category}' and class_state='${class_state}'  
					and to_char(signup, 'yyyy-mm-dd')&gt;=#{startDate}
					and to_char(signup, 'yyyy-mm-dd')&lt;=#{endDate}
					and (code like '%${search}%' or class_name like '%${search}%' or nickname like '%${search}%')
				</when>
				
				<when test="category==null and dateOption!=null and search!=null and class_state!=null">
					  and to_char(${dateOption}, 'yyyy-mm-dd')&gt;=#{startDate}
					  and to_char(${dateOption}, 'yyyy-mm-dd')&lt;=#{endDate}
					  and class_state='${class_state}'
					  and (code like '%${search}%' or class_name like '%${search}%' or nickname like '%${search}%')
				</when>
				<when test="category!=null and dateOption!=null and search!=null and class_state==null">
					  and to_char(${dateOption}, 'yyyy-mm-dd')&gt;=#{startDate}
					  and to_char(${dateOption}, 'yyyy-mm-dd')&lt;=#{endDate}
					  and  category='${category}'
					  and (code like '%${search}%' or class_name like '%${search}%' or nickname like '%${search}%')
				</when>
				<when test="category!=null and dateOption==null and search==null and class_state!=null">
					  and to_char(signup, 'yyyy-mm-dd')&gt;=#{startDate}
					  and to_char(signup, 'yyyy-mm-dd')&lt;=#{endDate}
					  and  category='${category}'
					  and class_state='${class_state}'
				</when>
				<when test="category==null and dateOption==null and search!=null and class_state!=null">
					  and to_char(signup, 'yyyy-mm-dd')&gt;=#{startDate}
					  and to_char(signup, 'yyyy-mm-dd')&lt;=#{endDate}
					  and class_state='${class_state}'
					  and (code like '%${search}%' or class_name like '%${search}%' or nickname like '%${search}%')
				</when>
			</choose>
	</select>
	<select id="selectcreClassList" parameterType="map" resultType="com.bitcamp.gachi.admin.ClassVO">
		SELECT * FROM
		(SELECT A.*,
		ROWNUM AS RNUM
		FROM
		(select code,category,class_name,nickname,total_student,to_char(signup,'YYYY-MM-DD') signup,   
		to_char(allow,'YYYY-MM-DD') allow,class_state from class c join member m on c.userid=m.userid	
		where c.userid='${userid}'
		<choose> 
				<when test="category==null and dateOption==null and search==null and class_state==null"></when>
				<when test="category!=null and dateOption==null and search==null and class_state==null">
					and category='${category}' and to_char(signup, 'yyyy-mm-dd')&gt;=#{startDate}
					and to_char(signup, 'yyyy-mm-dd')&lt;=#{endDate}
				</when>
				<when test="category!=null and dateOption!=null and search==null and class_state==null">
					and category='${category}' and to_char(${dateOption}, 'yyyy-mm-dd')&gt;=#{startDate}
					  and to_char(${dateOption}, 'yyyy-mm-dd')&lt;=#{endDate}
				</when>
				<when test="category!=null and dateOption!=null and search!=null and class_state==null">
					and category='${category}' and to_char(${dateOption}, 'yyyy-mm-dd')&gt;=#{startDate}
					  and to_char(${dateOption}, 'yyyy-mm-dd')&lt;=#{endDate}
					and (code like '%${search}%' or class_name like '%${search}%' or nickname like '%${search}%')
				</when>
				<when test="category!=null and dateOption!=null and search!=null and class_state!=null">
					and category='${category}' and to_char(${dateOption}, 'yyyy-mm-dd')&gt;=#{startDate}
					  and to_char(${dateOption}, 'yyyy-mm-dd')&lt;=#{endDate}
					and (code like '%${search}%' or class_name like '%${search}%' or nickname like '%${search}%')
					and class_state='${class_state}' 
				</when>
				
				<when test="category==null and dateOption!=null and search==null and class_state==null">
					and to_char(${dateOption}, 'yyyy-mm-dd')&gt;=#{startDate}
					  and to_char(${dateOption}, 'yyyy-mm-dd')&lt;=#{endDate}
				</when>
				<when test="category==null and dateOption!=null and search==null and class_state!=null">
					and to_char(${dateOption}, 'yyyy-mm-dd')&gt;=#{startDate}
					  and to_char(${dateOption}, 'yyyy-mm-dd')&lt;=#{endDate} and class_state='${class_state}'
				</when>
				<when test="category==null and dateOption!=null and search!=null and class_state==null">
					 and to_char(${dateOption}, 'yyyy-mm-dd')&gt;=#{startDate}
					  and to_char(${dateOption}, 'yyyy-mm-dd')&lt;=#{endDate}
					   and (code like '%${search}%' or class_name like '%${search}%' or nickname like '%${search}%')
				</when>
				<when test="category!=null and dateOption==null and search!=null and class_state!=null">
					and category='${category}'and class_state='${class_state}' 
					and to_char(signup, 'yyyy-mm-dd')&gt;=#{startDate}
					and to_char(signup, 'yyyy-mm-dd')&lt;=#{endDate}
					and (code like '%${search}%' or class_name like '%${search}%' or nickname like '%${search}%')
				</when>
				<when test="category==null and dateOption==null and search!=null and class_state==null">
					and to_char(signup, 'yyyy-mm-dd')&gt;=#{startDate}
					and to_char(signup, 'yyyy-mm-dd')&lt;=#{endDate}
					and (code like '%${search}%' or class_name like '%${search}%' or nickname like '%${search}%')
				</when>
				 <when test="category==null and dateOption==null and search!=null and class_state!=null">
					 and class_state='${class_state}'  
					 and (code like '%${search}%' or class_name like '%${search}%' or nickname like '%${search}%')
					 and to_char(signup, 'yyyy-mm-dd')&gt;=#{startDate}
					and to_char(signup, 'yyyy-mm-dd')&lt;=#{endDate}
				</when> 
				<when test="category!=null and dateOption==null and search!=null and class_state==null">
					 and category='${category}'
					and (code like '%${search}%' or class_name like '%${search}%' or nickname like '%${search}%')
					 and to_char(signup, 'yyyy-mm-dd')&gt;=#{startDate}
					and to_char(signup, 'yyyy-mm-dd')&lt;=#{endDate}
				</when>
				
				<when test="category!=null and dateOption!=null and search==null and class_state!=null">
					and category='${category}' and class_state='${class_state}' 
					and to_char(${dateOption}, 'yyyy-mm-dd')&gt;=#{startDate}
					  and to_char(${dateOption}, 'yyyy-mm-dd')&lt;=#{endDate}
				</when>
				
				<when test="category!=null and dateOption==null and search!=null and class_state!=null">
					and category='${category}' and class_state='${class_state}'  
					and (code like '%${search}%' or class_name like '%${search}%' or nickname like '%${search}%')
				</when>
				
				<when test="category==null and dateOption!=null and search!=null and class_state!=null">
					  and to_char(${dateOption}, 'yyyy-mm-dd')&gt;=#{startDate}
					  and to_char(${dateOption}, 'yyyy-mm-dd')&lt;=#{endDate}
					   and class_state='${class_state}'
					  and (code like '%${search}%' or class_name like '%${search}%' or nickname like '%${search}%')
				</when>
				<when test="category!=null and dateOption!=null and search!=null and class_state==null">
					  and to_char(${dateOption}, 'yyyy-mm-dd')&gt;=#{startDate}
					  and to_char(${dateOption}, 'yyyy-mm-dd')&lt;=#{endDate}' and  category='${category}'
					  and (code like '%${search}%' or class_name like '%${search}%' or nickname like '%${search}%')
				</when>
				<when test="category!=null and dateOption==null and search==null and class_state!=null">
					  and to_char(signup, 'yyyy-mm-dd')&gt;=#{startDate}
					  and to_char(signup, 'yyyy-mm-dd')&lt;=#{endDate}
					  and  category='${category}'
					  and class_state='${class_state}'
				</when>
				<when test="category==null and dateOption==null and search!=null and class_state!=null">
					  and to_char(signup, 'yyyy-mm-dd')&gt;=#{startDate}
					  and to_char(signup, 'yyyy-mm-dd')&lt;=#{endDate}
					  and class_state='${class_state}'
					  and (code like '%${search}%' or class_name like '%${search}%' or nickname like '%${search}%')
				</when>
			</choose>
		order by code desc)A
		WHERE
		ROWNUM &lt;= ${endNum}
		)
		WHERE
		RNUM &gt;=${startNum}
	</select>
	<update id="updateCreatorPictureNone" parameterType="String">
		update creator set picture=null where userid=#{userid}
	</update>
</mapper>