<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bitcamp.gachi.admin.CreatorDaoImp">
	<select id="selectAllCreator" resultType="com.bitcamp.gachi.admin.AllVO">
<!-- 		select rownum,a.userid ,nickname, username, tel, to_char(signupdate, 'yyyy-mm-dd')
	  	 signupdate, to_char(withdrawdate, 'yyyy-mm-dd') withdrawdate,creator_state
	  	 from member a join creator c on a.userid = c.userid where grade = '크리에이터' -->
	  
	  	 select m.userid, rownum, m.userid, nickname, username, tel, to_char(signupdate, 'yyyy-mm-dd') 
		signupdate, to_char(withdrawdate, 'yyyy-mm-dd') withdrawdate, deleted ,creator_state
		 from member m full outer join creator c on m.userid = c.userid where grade = '크리에이터'
	</select>
		<select id="countAllCreator" resultType="_int">
		select count(*) from creator
	</select>
	<select id="countNowCreator" resultType="_int">
	<!-- select count(*) from creator where creator_state='승인' -->
select count(deleted)  from member m join 
creator c on m.userid=c.userid  where m.deleted='회원' and c.creator_state='승인'
	</select>
	<select id="countDeletedCreator" resultType="_int">
		select count(*) from member where deleted='탈퇴' and grade = '크리에이터'
	</select>
	<select id="creatorBoardSelectAll" resultType="com.bitcamp.gachi.admin.AllVO">
		select category, m.nickname, picture, c.userid from creator c join member m on c.userid = m.userid
	</select>	
	<select id="creatorBoardViewSelect" parameterType="String" resultType="com.bitcamp.gachi.admin.AllVO">
		select picture, nickname, sns_addr, creator_info from member m join creator cre on m.userid=cre.userid  where cre.userid='${param1}'
	</select>
	<select id="creatorBoardViewSelectClass" parameterType="String" resultType="com.bitcamp.gachi.admin.AllVO">
		select creator_info, class_name, real_price, class_img1 from creator cre join class cla on cla.userid=cre.userid where cre.userid='${param1}'
	</select>

	
	<select id="selectCreator" resultType="com.bitcamp.gachi.admin.AllVO">
		select u.userid, grade , username, nickname, tel, to_char(birthdate, 'yyyy-mm-dd')
	  	 birthdate, gender, zipcode, addr, detailaddr, to_char(signupdate, 'yyyy-mm-dd') signupdate, to_char(withdrawdate, 'yyyy-mm-dd') withdrawdate,
	  	 deleted from member u full outer join creator c on u.userid = c.userid where u.userid = #{userid}
	</select>
	<update id="creatorMemberUpdate" parameterType="com.bitcamp.gachi.admin.AllVO"> 
		update member set nickname =#{nickname}, username=#{username}, tel=#{tel} ,gender=#{gender},  zipcode=#{zipcode},
		addr =#{addr},detailaddr =#{detailaddr} where userid = #{userid}
	</update>
	<update id="creatorleaveMemberUpdate" parameterType="String">
		update member set deleted='탈퇴',withdrawdate=sysdate where userid =#{userid}
	</update>
<!-- 	<delete id="adminMemberDelete">
		delete from member where userid =#{userid}
	</delete> -->
</mapper>