<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bitcamp.gachi.admin.MemberDaoImp">
	<select id="selectAllMember" resultType="com.bitcamp.gachi.admin.MemberVO">
		select rownum, userid, nickname, username, tel, to_char(signupdate, 'yyyy-mm-dd') 
		signupdate, to_char(withdrawdate, 'yyyy-mm-dd') withdrawdate, deleted from member where grade = '회원'
	</select>
	<select id="countAllMember" resultType="_int">
		select count(*) from member where grade = '회원'
	</select>
	<select id="countNowMember" resultType="_int">
		select count(*) from member where deleted='회원' and grade = '회원'
	</select>
	<select id="countDeletedMember" resultType="_int">
		select count(*) from member where deleted='탈퇴' and grade = '회원'
	</select>
	
	<select id="selectMember" resultType="com.bitcamp.gachi.admin.MemberVO">
		select userid , username , nickname ,tel , to_char(signupdate, 'yyyy-mm-dd') 
		signupdate from member where userid =#{userid}
	</select>
	
	<update id="MemberUpdate" parameterType="com.bitcamp.gachi.admin.MemberVO"> 
		update member set username = #{username}, nickname = #{nickname} ,tel =#{tel}
		where userid = #{userid}
	</update>
	
	<delete id="adminMemberDelete">
		delete from member where userid =#{userid}
	</delete>
	
</mapper>

