<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitcamp.gachi.mypage.MileageDaoImp">
	<select id="countMileage" resultType="int">
		select count(mileage) from mileage where userid='${userid}'	
	</select>
	<select id="mileageAllRecord" resultType="com.bitcamp.gachi.mypage.MileageVO">
		select userid, mileage, breakdown, to_char(occurence_date, 'YYYY-MM-DD') occurence_date from mileage where userid='${userid}' order by occurence_date desc	
	</select>
	<select id="mileageAllSum" resultType="int">
		select sum(mileage) from mileage where userid='${userid}'
	</select>
	<select id="mileagePosiSum" resultType="int">
		select sum(mileage) from mileage where userid='${userid}' and sign(mileage)=1
	</select>
	<select id="mileageNegaSum" resultType="int">
		select sum(mileage) from mileage where userid='${userid}' and sign(mileage)=-1
	</select>
	<insert id="mileageInsert">
		insert into mileage(userid, mileage, breakdown)
		 values('${userid}', (select stack 
		 from goods g, goods_order go
		 where g.code = go.code
		 and goods_order_code = '${goods_order_code}'), '구매금액 적립')
	</insert>
</mapper>