<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bitcamp.gachi.admin.OrderDaoImp">

<!-- <select id="selectAllOrder" parameterType="map" resultType="com.bitcamp.gachi.admin.OrderVO">
	  select  order_code , orderlist.userid, member.username, full_price, discount, price , payment_type, card_type ,to_char(orderdate , 'yyyy-mm-dd')orderdate, 
       state, fix_state from orderlist join member on orderlist.userid= member.userid 
	  where to_char(orderdate, 'yyyy-mm-dd')&gt;=#{startDate} and to_char(orderdate, 'yyyy-mm-dd')&lt;=#{endDate}	   
</select> -->

<select id="selectAllOrder" parameterType="map" resultType="com.bitcamp.gachi.admin.OrderVO">

		SELECT * FROM
		(SELECT A.*,
		ROWNUM AS RNUM
		FROM
		(select  order_code , orderlist.userid, member.username, full_price, discount, price , payment_type, card_type ,to_char(orderdate , 'yyyy-mm-dd')orderdate, 
       	state, fix_state from orderlist join member on orderlist.userid= member.userid 
       	where to_char(orderdate, 'yyyy-mm-dd')&gt;=#{startDate} and to_char(orderdate, 'yyyy-mm-dd')&lt;=#{endDate}	
		<choose>
			<when test='state==null and payment_type==null and search==null'></when>
			<when test='state!=null and payment_type==null and search==null'>
				and state='${state}'
			</when>
			<when test='state==null and payment_type!=null and search==null'>
				and payment_type='${payment_type}'
			</when>
			<when test='state==null and payment_type==null and search!=null'>
				and (order_code like '%${search}%' or orderlist.userid like '%${search}%' or member.username like '%${search}%')		
			</when> 						
			<when test='state!=null and payment_type!=null and search==null'>
					and state='${state}' and payment_type='${payment_type}'
			</when>
			<when test='state==null and payment_type!=null and search!=null'>
				 and payment_type='${payment_type}' and (order_code like '%${search}%' or orderlist.userid like '%${search}%' or member.username like '%${search}%')
			</when>
			<when test='state!=null and payment_type==null and search!=null'>
				 and state='${state}' and (order_code like '%${search}%' or orderlist.userid like '%${search}%' or member.username like '%${search}%')
			</when>					
			<when test='state!=null and payment_type!=null and search!=null'>
				and state='${state}' and payment_type='${payment_type}' and (order_code like '%${search}%' or orderlist.userid like '%${search}%' or member.username like '%${search}%')		
			</when>
			<otherwise></otherwise>
		</choose>
		) A
		WHERE
		ROWNUM &lt;= ${endNum}
		)
		WHERE
		RNUM &gt;= ${startNum}
	</select>

<select id="selectCntAllOrder" parameterType="map" resultType="_int">
		select count(*) as cnt from orderlist
		join member on orderlist.userid = member.userid
       	where to_char(orderdate, 'yyyy-mm-dd')&gt;=#{startDate} and to_char(orderdate, 'yyyy-mm-dd')&lt;=#{endDate}	
		<choose>
			<when test='state==null and payment_type==null and search==null'></when>
			<when test='state!=null and payment_type==null and search==null'>
				and state='${state}'
			</when>
			<when test='state==null and payment_type!=null and search==null'>
				and payment_type='${payment_type}'
			</when>
			<when test='state==null and payment_type==null and search!=null'>
				and (order_code like '%${search}%' or orderlist.userid like '%${search}%' or member.username like '%${search}%')		
			</when> 						
			<when test='state!=null and payment_type!=null and search==null'>
					and state='${state}' and payment_type='${payment_type}'
			</when>
			<when test='state==null and payment_type!=null and search!=null'>
				 and payment_type='${payment_type}' and (order_code like '%${search}%' or orderlist.userid like '%${search}%' or member.username like '%${search}%')
			</when>
			<when test='state!=null and payment_type==null and search!=null'>
				 and state='${state}' and (order_code like '%${search}%' or orderlist.userid like '%${search}%' or member.username like '%${search}%')
			</when>					
			<when test='state!=null and payment_type!=null and search!=null'>
				and state='${state}' and payment_type='${payment_type}' and (order_code like '%${search}%' or orderlist.userid like '%${search}%' or member.username like '%${search}%')		
			</when>
			<otherwise></otherwise>
		</choose>
	</select>
</mapper>
