<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bitcamp.gachi.admin.OrderDaoImp">

<!-- <select id="selectAllOrder" parameterType="map" resultType="com.bitcamp.gachi.admin.OrderVO">
	  select  order_code , orderlist.userid, member.username, full_price, discount, price , payment_type, card_type ,to_char(orderdate , 'yyyy-mm-dd')orderdate, 
       state, fix_state from orderlist join member on orderlist.userid= member.userid 
	  where to_char(orderdate, 'yyyy-mm-dd')&gt;=#{startDate} and to_char(orderdate, 'yyyy-mm-dd')&lt;=#{endDate}	   
</select> -->

<select id="selectAllOrder" parameterType="map" resultType="com.bitcamp.gachi.admin.OrderVO">

		SELECT * FROM
		(SELECT A.*,
		ROWNUM AS RNUM
		FROM
		(select  order_code , orderlist.userid, member.username, full_price, discount, price , payment_type, card_type ,to_char(orderdate , 'yyyy-mm-dd')orderdate, 
       	state, fix_state from orderlist join member on orderlist.userid= member.userid 
       	where to_char(orderdate, 'yyyy-mm-dd')&gt;=#{startDate} and to_char(orderdate, 'yyyy-mm-dd')&lt;=#{endDate}	
		<choose>
			<when test='category==null and paymentRadio==null and search==null'></when>
			<when test='category!=null and paymentRadio==null and search==null'>
				where category='${category}'
			</when>
			<when test='category==null and sale_State!=null and search==null'>
				where sale_State='${sale_State}'
			</when>
			<when test='category==null and sale_State==null and search!=null'>
				where (goods_name like '%${search}%' or category like '%${search}%' or code like '%${search}%')		
			</when> 
			
			<when test='category==null and sale_State!=null and search!=null'>
				where sale_State='${sale_State}' and (goods_name like '%${search}%' or category like '%${search}%' or code like '%${search}%' )
			</when>
			<when test='category!=null and sale_State!=null and search==null'>
				where category='${category}' and sale_State='${sale_State}'
			</when>
			<when test='category!=null and sale_State==null and search!=null'>
				where category='${category}' and (goods_name like '%${search}%' or category like '%${search}%' or code like '%${search}%' )		
			</when>
			
			<when test='category!=null and sale_State!=null and search!=null'>
				where category='${category}' and sale_State='${sale_State}' and (goods_name like '%${search}%' or category like '%${search}%' or code like '%${search}%')		
			</when>
			<otherwise></otherwise>
		</choose>
		) A
		WHERE
		ROWNUM &lt;= ${endNum}
		)
		WHERE
		RNUM &gt;= ${startNum}
	</select>

<select id="selectCntAllOrder" parameterType="map" resultType="_int">
		select count(*) as cnt from goods 
		join goods_order on goods_order.code = goods.code
		join orderlist on goods_order.order_code = orderlist.order_code
		join member on orderlist.userid = member.userid
		<choose>
			<when test='category==null and sale_State==null and search==null '></when>
			<when test='category!=null and sale_State==null and search==null'>
				where goods.category='${category}'
			</when>
			<when test='category==null and sale_State!=null and search==null'>
				where sale_State='${sale_State}'
			</when>
			<when test='category==null and sale_State==null and search!=null'>
				where (goods.goods_name like '%${search}%' or goods.category like '%${search}%' or goods.code like '%${search}%')		
			</when>
			<when test='category==null and sale_State!=null and search!=null'>
				where sale_State='${sale_State}' and (goods.goods_name like '%${search}%' or goods.category like '%${search}%' or goods.code like '%${search}%' )
			</when>
			<when test='category!=null and sale_State!=null and search==null'>
				where goods.category='${category}' and sale_State='${sale_State}'
			</when>
			<when test='category!=null and sale_State==null and search!=null'>
				where goods.category='${category}' and (goods.goods_name like '%${search}%' or goods.category like '%${search}%' or goods.code like '%${search}%' )		
			</when>
			
			<when test='category!=null and sale_State!=null and search!=null'>
				where goods.category='${category}' and sale_State='${sale_State}' and (goods.goods_name like '%${search}%' or goods.category like '%${search}%' or goods.code like '%${search}%')		
			</when>
			<otherwise></otherwise>
		</choose>
	</select>
</mapper>
