<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.bitcamp.gachi.register.RegisterDaoImp">
	<insert id="registerInsert" parameterType="com.bitcamp.gachi.register.RegisterVO">
		insert into member(userid,userpwd,grade,username,nickname,birthdate,tel,gender,zipcode,addr,detailaddr,interest)
	                values('${userid2}','${userpwd2}','회원','${username}','${nickname}','${birthdate}','${tel}','${gender}','${sample6_postcode}','${addr}','${sample6_detailAddress}','${interest}')      
	</insert>
	<insert id="mileageInsert" parameterType="com.bitcamp.gachi.register.RegisterVO">
		insert into mileage(userid,mileage,breakdown)
	                values('${userid2}','1000','회원가입 축하 마일리지')      
	</insert>
	<insert id="creatorInsert" parameterType="com.bitcamp.gachi.register.RegisterVO">
		insert into member(userid,userpwd,grade,username,nickname,birthdate,tel,gender,zipcode,addr,detailaddr,interest)
	                values('${userid3}','${userpwd3}','크리에이터','${username2}','${nickname2}','${birthdateC}','${telC}','${gender2}','${sample6_postcode2}','${addr2}','${sample6_detailAddress2}','${interest2}')
	</insert>
	<insert id="creatorInsert2" parameterType="com.bitcamp.gachi.register.RegisterVO">
	 insert into creator(userid,business_number,category,bankname,account,license_img1,license_img2,license_img3,sns_addr,creator_info,creator_state)
	    			values('${userid3}','${business_number}','${interest2}','${bankname}','${account}','${creatorLicense_img1}','${creatorLicense_img2}','${creatorLicense_img3}','${sns_addr}','${creator_info}','미승인')                 
	</insert>
	<insert id="creatoemileageInsert" parameterType="com.bitcamp.gachi.register.RegisterVO">
		insert into mileage(userid,mileage,breakdown)
	                values('${userid3}','0','응 크리에이터는 마일리지없어~')      
	</insert>
	<select id="useridChk" parameterType="String" resultType="int">
		select count(userid) from member where userid='${param1}'
	</select>
	<select id="useridChk2" parameterType="String" resultType="int">
		select count(userid) from member where userid='${param1}'
	</select>
	<select id="useridF" parameterType="String" resultType="string">
		select userid from member where tel='${param1}'
	</select>
	<select id="userpwdF" parameterType="String" resultType="string"> 
		select userpwd from member where tel='${param1}'
	</select>
    <select id="searchTextChk" parameterType="com.bitcamp.gachi.register.RegisterVO" resultType="com.bitcamp.gachi.register.SearchPageVO">
		select c.code,c.class_name,c.class_img,c.category,m.nickname,c.real_price from class c FULL OUTER JOIN member m on c.userid=m.userid where c.class_name like '%${searchSubmitText}%'
	</select>
	<select id="classMore" parameterType="com.bitcamp.gachi.register.RegisterVO" resultType="int">
		select count(class_name) count from class where class_name like '%${searchSubmitText}%'
	</select>
	<select id="searchTextChk2" parameterType="com.bitcamp.gachi.register.RegisterVO" resultType="com.bitcamp.gachi.register.SearchPageVO">
		select code,goods_name,category,goods_img1,real_price from goods where goods_name like '%${searchSubmitText}%'
	</select>
	<select id="storeMore" parameterType="com.bitcamp.gachi.register.RegisterVO" resultType="int">
		select count(goods_name) count from goods where goods_name like '%${searchSubmitText}%'
	</select>
	<select id="searchTextChk3" parameterType="com.bitcamp.gachi.register.RegisterVO" resultType="com.bitcamp.gachi.register.SearchPageVO">
		select m.userid,cr.category,m.nickname,cr.picture from member m FULL OUTER JOIN creator cr on m.userid=cr.userid where grade='크리에이터' and nickname like '%${searchSubmitText}%'
	</select>
	<select id="creatorMore" parameterType="com.bitcamp.gachi.register.RegisterVO" resultType="int">
		select count(nickname) count from member where nickname like '%${searchSubmitText}%'
	</select>
	<select id="memberLogin" parameterType="com.bitcamp.gachi.register.RegisterVO" resultType="com.bitcamp.gachi.register.RegisterVO">
		select userid,nickname,grade from member where userid='${userid}' and userpwd='${userpwd}'
	</select>
	<select id="selectList" parameterType="com.bitcamp.gachi.register.RegisterVO" resultType="string">
		select grade from member where userid='${userid}'
	</select>
</mapper>