<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bitcamp.gachi.admin.SettleDaoImp">



<!--  -->
	<select id="selectAllSettle" parameterType="map" resultType="com.bitcamp.gachi.admin.SettleVO">

		SELECT * FROM (SELECT A.*, ROWNUM AS RNUM FROM 
		(SELECT
		class_order.order_code, class_order.class_order_code, class.category, class.class_name, orderlist.userid,
		member.username,class.real_price, to_char(orderlist.orderdate,
		'yyyy-mm-dd') orderdate,settlement from class_order
		join orderlist on class_order.order_code = orderlist.order_code
		join class on class_order.code = class.code
		join member on orderlist.userid = member.userid
		left join settlement on class_order.class_order_code =settlement.class_order_code
		where to_char(orderlist.orderdate, 'yyyy-mm-dd')&gt;=#{startDate} and to_char(orderlist.orderdate, 'yyyy-mm-dd')&lt;=#{endDate}
		
		<choose>
			<when test='category==null and username==null'></when>
			<when test='category!=null and username==null'>
				and class.category='${category}'
			</when>
			<when test='category==null and username!=null'>
				and member.username like '%${username}%'
			</when>
			<when test='category!=null and username!=null'>
				and class.category='${category}' and member.username like
				'%${username}%'
			</when>
			<otherwise></otherwise>
		</choose>
		) A WHERE ROWNUM &lt;= ${endNum} ) WHERE RNUM &gt;=${startNum}
	</select>
	<select id="selectCntAllSettle" parameterType="map" resultType="_int">
		select count(*) as cnt from class_order join class on class_order.code= class.code
		join orderlist on class_order.order_code =
		orderlist.order_code
		join member on orderlist.userid = member.userid
		
		<choose>
			<when test='category==null and username==null'></when>
			<when test='category!=null and username==null'>
				where class.category='${category}'
			</when>
			<when test='category==null and username!=null'>
				where member.username like '%${username}%'
			</when>
			<when test='category!=null and username!=null'>
				where class.category='${category}' and member.username like
				'%${username}%'
			</when>
			<otherwise></otherwise>
		</choose>
	</select>



	<select id="selectAllStore" parameterType="map" resultType="com.bitcamp.gachi.admin.SettleVO">

		SELECT * FROM
		(SELECT A.*,
		ROWNUM AS RNUM
		FROM
		(SELECT
		goods_order.order_code, goods_order.goods_order_code, goods.category, goods.goods_name, orderlist.userid, member.username,
		goods.real_price, to_char(orderlist.orderdate, 'yyyy-mm-dd') orderdate
		, goods_order.finished from goods_order
		join orderlist on goods_order.order_code = orderlist.order_code
		join goods on goods_order.code = goods.code
		left join member on orderlist.userid = member.userid
		where to_char(orderlist.orderdate, 'yyyy-mm-dd')&gt;=#{startDate} and
		to_char(orderlist.orderdate, 'yyyy-mm-dd')&lt;=#{endDate}
		<choose>
			<when test='category==null and username==null'></when>
			<when test='category!=null and username==null'>
				and goods.category='${category}'
			</when>
			<when test='category==null and username!=null'>
				and member.username like '%${username}%'
			</when>
			<when test='category!=null and username!=null'>
				and goods.category='${category}' and member.username like
				'%${username}%'
			</when>
			<otherwise></otherwise>
		</choose>
		) A
		WHERE
		ROWNUM &lt;= ${endNum}
		)
		WHERE
		RNUM &gt;=${startNum}
	</select>
	<select id="selectCntAllStore" parameterType="map" resultType="_int">
		select count(*) as cnt from goods_order join goods on goods_order.code = goods.code
		join orderlist on goods_order.order_code =
		orderlist.order_code
		join member on orderlist.userid = member.userid
		<choose>
			<when test='category==null and username==null'></when>
			<when test='category!=null and username==null'>
				where goods.category='${category}'
			</when>
			<when test='category==null and username!=null'>
				where member.username like '%${username}%'
			</when>
			<when test='category!=null and username!=null'>
				where goods.category='${category}' and member.username like
				'%${username}%'
			</when>
			<otherwise></otherwise>
		</choose>
	</select>

	<select id="selectAllClass" parameterType="map" resultType="com.bitcamp.gachi.admin.SettleVO">

		SELECT
		*
		FROM
		(
		SELECT
		A.*,
		ROWNUM AS RNUM
		FROM
		(
		SELECT
		class_order.order_code, class.category, orderlist.userid,
		member.username,class.real_price, to_char(orderlist.orderdate,
		'yyyy-mm-dd') orderdate from class_order 
		join orderlist on class_order.order_code = orderlist.order_code
		join class on class_order.code = class.code
		left join member on orderlist.userid = member.userid
		where to_char(orderlist.orderdate, 'yyyy-mm-dd')&gt;=#{startDate} and
		to_char(orderlist.orderdate, 'yyyy-mm-dd')&lt;=#{endDate}
		<choose>
			<when test='category==null and username==null'></when>
			<when test='category!=null and username==null'>
				and class.category='${category}'
			</when>
			<when test='category==null and username!=null'>
				and member.username like '%${username}%'
			</when>
			<when test='category!=null and username!=null'>
				and class.category='${category}' and member.username like
				'%${username}%'
			</when>
			<otherwise></otherwise>
		</choose>
		) A
		WHERE
		ROWNUM &lt;= ${endNum}
		)
		WHERE
		RNUM &gt;=${startNum}
	</select>
	<select id="selectCntAllClass" parameterType="map" resultType="_int">
		select count(*) as cnt from class_order join class on class_order.code
		= class.code
		join orderlist on class_order.order_code =
		orderlist.order_code
		join member on orderlist.userid = member.userid
		<choose>
			<when test='category==null and username==null'></when>
			<when test='category!=null and username==null'>
				where class.category='${category}'
			</when>
			<when test='category==null and username!=null'>
				where member.username like '%${username}%'
			</when>
			<when test='category!=null and username!=null'>
				where class.category='${category}' and member.username like
				'%${username}%'
			</when>
			<otherwise></otherwise>
		</choose>
	</select>
	<select id="manageSettle" parameterType="map"
		resultType="com.bitcamp.gachi.admin.SettleVO">
		select class_order.order_code, class_order.class_order_code, class.category,class.class_name ,class.userid,member.username, class.real_price, to_char(settlement.payday,'yyyy-MM-dd') payday,
		class_order.settlement from class_order
		join orderlist on class_order.order_code = orderlist.order_code
		join class on class_order.code = class.code
		join member on class.userid = member.userid
		left join settlement on class_order.class_order_code =
		settlement.class_order_code
		where to_char(orderlist.orderdate, 'yyyy-mm-dd')&gt;=#{startDate} and
		to_char(orderlist.orderdate, 'yyyy-mm-dd')&lt;=#{endDate}
		<choose>
			<when test='category==null and username==null'></when>
			<when test='category!=null and username==null'>
				and class.category='${category}'
			</when>
			<when test='category== null and username!=null'>
				and member.username like '%${username}%'
			</when>
			<when test='category!= null and username!=null'>
				and class.category='${category}' and member.username like
				'%${username}%'
			</when>
			<otherwise></otherwise>
		</choose>
	</select>
	<select id="sumStoreSalesByDay" parameterType="map" resultType="int">
		<foreach collection="list" item="item" separator=" union all">
			select nvl(sum(nvl(goods.real_price, 0)),0) as sum from orderlist
			join goods_order on orderlist.order_code = goods_order.order_code
			join goods on goods_order.code = goods.code
			where to_char(orderdate, 'yyyy-MM-dd') = #{item}
		</foreach>
	</select>
	<select id="sumClassSalesByDay" parameterType="map" resultType="int">
		<foreach collection="list" item="item" separator=" union all">
			select nvl(sum(nvl(class.real_price, 0)),0) as sum from orderlist
			join class_order on orderlist.order_code = class_order.order_code
			join class on class_order.code = class.code
			where to_char(orderdate, 'yyyy-MM-dd') = #{item}
		</foreach>
	</select>
	<select id="countAllSales" parameterType="map" resultType="int">
		select sum(class.real_price) from class_order
		join orderlist on class_order.order_code = orderlist.order_code
		join class on class_order.code = class.code
		join member on class.userid = member.userid
		left join settlement on class_order.class_order_code =
		settlement.class_order_code
		where to_char(orderlist.orderdate, 'yyyy-mm-dd')&gt;=#{startDate} and
		to_char(orderlist.orderdate, 'yyyy-mm-dd')&lt;=#{endDate}
		<choose>
			<when test='category==null and username==null'></when>
			<when test='category!=null and username==null'>
				and class.category='${category}'
			</when>
			<when test='category== null and username!=null'>
				and member.username like '%${username}%'
			</when>
			<when test='category!= null and username!=null'>
				and class.category='${category}' and member.username like
				'%${username}%'
			</when>
			<otherwise></otherwise>
		</choose>
	</select>
	<select id="countSalesN" parameterType="map" resultType="int">
		select sum(class.real_price) from class_order
		join orderlist on class_order.order_code = orderlist.order_code
		join class on class_order.code = class.code
		join member on class.userid = member.userid
		left join settlement on class_order.class_order_code =
		settlement.class_order_code
		where to_char(orderlist.orderdate, 'yyyy-mm-dd')&gt;=#{startDate} and to_char(orderlist.orderdate, 'yyyy-mm-dd')&lt;=#{endDate} and
		(class_order.settlement='n' or class_order.settlement='N')
		<choose>
			<when test='category==null and username==null'></when>
			<when test='category!=null and username==null'>
				and class.category='${category}'
			</when>
			<when test='category== null and username!=null'>
				and member.username like '%${username}%'
			</when>
			<when test='category!= null and username!=null'>
				and class.category='${category}' and member.username like
				'%${username}%'
			</when>
			<otherwise></otherwise>
		</choose>
	</select>
	<select id="countSalesY" parameterType="map" resultType="int">
		select sum(class.real_price) from class_order
		join orderlist on class_order.order_code = orderlist.order_code
		join class on class_order.code = class.code
		join member on class.userid = member.userid
		left join settlement on class_order.class_order_code =
		settlement.class_order_code
		where to_char(orderlist.orderdate, 'yyyy-mm-dd')&gt;=#{startDate} and
		to_char(orderlist.orderdate, 'yyyy-mm-dd')&lt;=#{endDate} and
		(class_order.settlement='y' or class_order.settlement='Y')
		<choose>
			<when test='category==null and username==null'></when>
			<when test='category!=null and username==null'>
				and class.category='${category}'
			</when>
			<when test='category== null and username!=null'>
				and member.username like '%${username}%'
			</when>
			<when test='category!= null and username!=null'>
				and class.category='${category}' and member.username like
				'%${username}%'
			</when>
			<otherwise></otherwise>
		</choose>
	</select>

	<select id="cntStatClassAll" parameterType="map"
		resultType="_int">
		select count(*) from class
		where to_char(signup,
		'yyyy-mm-dd')&gt;=#{startDate} and to_char(signup,
		'yyyy-mm-dd')&lt;=#{endDate}
		<choose>
			<when test='category==null and username==null'></when>
			<when test='category!=null and username==null'>
				and class.category='${category}'
			</when>
			<when test='category== null and username!=null'>
				and member.username like '%${username}%'
			</when>
			<when test='category!= null and username!=null'>
				and class.category='${category}' and member.username like
				'%${username}%'
			</when>
			<otherwise></otherwise>
		</choose>
	</select>
	
	<select id="cntClassN" parameterType="map" resultType="_int">
		select count(*) from class
		where to_char(signup,
		'yyyy-mm-dd')&gt;=#{startDate} and to_char(signup,
		'yyyy-mm-dd')&lt;=#{endDate} and class_state !='판매중'
		<choose>
			<when test='category==null and username==null'></when>
			<when test='category!=null and username==null'>
				and class.category='${category}'
			</when>
			<when test='category== null and username!=null'>
				and member.username like '%${username}%'
			</when>
			<when test='category!= null and username!=null'>
				and class.category='${category}' and member.username like
				'%${username}%'
			</when>
			<otherwise></otherwise>
		</choose>
	</select>

	<select id="cntClassY" parameterType="map" resultType="_int">
		select count(*) from class
		where to_char(signup,
		'yyyy-mm-dd')&gt;=#{startDate} and to_char(signup,
		'yyyy-mm-dd')&lt;=#{endDate} and class_state ='판매중'
		<choose>
			<when test='category==null and username==null'></when>
			<when test='category!=null and username==null'>
				and class.category='${category}'
			</when>
			<when test='category== null and username!=null'>
				and member.username like '%${username}%'
			</when>
			<when test='category!= null and username!=null'>
				and class.category='${category}' and member.username like
				'%${username}%'
			</when>
			<otherwise></otherwise>
		</choose>
	</select>

	<select id="cntStoreAll" parameterType="map" resultType="_int">
		select
		count(*) from goods
		where to_char(writedate,
		'yyyy-mm-dd')&gt;=#{startDate} and to_char(writedate,
		'yyyy-mm-dd')&lt;=#{endDate}
	</select>

	<select id="cntStoreY" parameterType="map" resultType="_int">
		select
		count(*) from goods
		where to_char(writedate,
		'yyyy-mm-dd')&gt;=#{startDate} and to_char(writedate,
		'yyyy-mm-dd')&lt;=#{endDate}
		and sale_state = '판매중'
	</select>
	<select id="cntStoreN" parameterType="map" resultType="_int">
		select
		count(*) from goods
		where to_char(writedate,
		'yyyy-mm-dd')&gt;=#{startDate} and to_char(writedate,
		'yyyy-mm-dd')&lt;=#{endDate}
		and sale_state != '판매중'
	</select>


	<select id="StatStoreSum" parameterType="map" resultType="_int">
		select
		sum(orderlist.price)from orderlist
		join goods_order on goods_order.order_code = orderlist.order_code
		where
		to_char(orderlist.orderdate, 'yyyy-mm-dd')&gt;=#{startDate}
		and to_char(orderlist.orderdate, 'yyyy-mm-dd')&lt;=#{endDate} and
		(fix_state='Y' or fix_State='y')
	</select>

	<select id="managePaymentStore" parameterType="map"
		resultType="com.bitcamp.gachi.admin.SettleVO">
		SELECT * FROM
		(SELECT A.*,
		ROWNUM AS RNUM
		FROM
		(SELECT
		goods_order.order_code, goods_order.goods_order_code, goods.category, goods.goods_name, orderlist.userid, member.username,
		goods.real_price, to_char(orderlist.orderdate, 'yyyy-mm-dd') orderdate
		, goods_order.finished from goods_order
		join orderlist on goods_order.order_code = orderlist.order_code
		join goods on goods_order.code = goods.code
		left join member on orderlist.userid = member.userid
		where to_char(orderlist.orderdate, 'yyyy-mm-dd')&gt;=#{startDate}
		and to_char(orderlist.orderdate, 'yyyy-mm-dd')&lt;=#{endDate} 
		<choose>
			<when test='category==null and username==null'></when>
			<when test='category!=null and username==null'>
				and goods.category='${category}'
			</when>
			<when test='category==null and username!=null'>
				and member.username like '%${username}%'
			</when>
			<when test='category!=null and username!=null'>
				and goods.category='${category}' and member.username like
				'%${username}%'
			</when>
			<otherwise></otherwise>
		</choose>
		) A
		WHERE
		ROWNUM &lt;= ${endNum}
		)
		WHERE
		RNUM &gt;=${startNum}
	</select>

	<select id="paymentStoreAll" parameterType="map"
		resultType="int">
		select sum(goods.real_price) from goods_order
		join orderlist on goods_order.order_code = orderlist.order_code
		join goods on goods_order.code = goods.code
		left join member on orderlist.userid = member.userid
		where to_char(orderlist.orderdate, 'yyyy-mm-dd')&gt;=#{startDate} and
		to_char(orderlist.orderdate, 'yyyy-mm-dd')&lt;=#{endDate}
		<choose>
			<when test='category==null and username==null'></when>
			<when test='category!=null and username==null'>
				and goods.category='${category}'
			</when>
			<when test='category== null and username!=null'>
				and member.username like '%${username}%'
			</when>
			<when test='category!= null and username!=null'>
				and goods.category='${category}' and member.username like
				'%${username}%'
			</when>
			<otherwise></otherwise>
		</choose>
	</select>

	<select id="paymentStoreN" parameterType="map" resultType="int">
		select sum(goods.real_price) from goods_order
		join orderlist on goods_order.order_code = orderlist.order_code
		join goods on goods_order.code = goods.code
		left join member on orderlist.userid = member.userid
		where to_char(orderlist.orderdate, 'yyyy-mm-dd')&gt;=#{startDate} and
		to_char(orderlist.orderdate, 'yyyy-mm-dd')&lt;=#{endDate}
		and goods_order.finished='미확정'
		<choose>
			<when test='category==null and username==null'></when>
			<when test='category!=null and username==null'>
				and goods.category='${category}'
			</when>
			<when test='category== null and username!=null'>
				and member.username like '%${username}%'
			</when>
			<when test='category!= null and username!=null'>
				and goods.category='${category}' and member.username like
				'%${username}%'
			</when>
			<otherwise></otherwise>
		</choose>
	</select>
	
	<select id="paymentStoreY" parameterType="map" resultType="_int">
		select count(*) order_code from goods_order join orderlist on
		orderlist.order_code = goods_order.order_code
		join goods on
		goods_order.code = goods.code
		left join member on orderlist.userid =
		member.userid
		where to_char(orderlist.orderdate,
		'yyyy-mm-dd')&gt;=#{startDate} and to_char(orderlist.orderdate,
		'yyyy-mm-dd')&lt;=#{endDate}

		<choose>
			<when test='category==null and username==null'></when>
			<when test='category!=null and username==null'>
				and goods.category='${category}'
			</when>
			<when test='category== null and username!=null'>
				and member.username like '%${username}%'
			</when>
			<when test='category!= null and username!=null'>
				and goods.category='${category}' and member.username like
				'%${username}%'
			</when>
			<otherwise></otherwise>
		</choose>
	</select>

	<select id="managePaymentClass" parameterType="map"
		resultType="com.bitcamp.gachi.admin.SettleVO">
		select class_order.order_code, class.category, class.class_name,
		orderlist.userid, member.username, class.real_price,
		to_char(orderlist.orderdate, 'yyyy-mm-dd') orderdate ,
		class_order.settlement from class_order
		join orderlist on class_order.order_code = orderlist.order_code
		join class on class_order.code = class.code
		join class_order on orderlist.order_code = class_order.order_code
		left join member on orderlist.userid = member.userid
		where to_char(orderlist.orderdate, 'yyyy-mm-dd')&gt;=#{startDate} and
		to_char(orderlist.orderdate, 'yyyy-mm-dd')&lt;=#{endDate}
		<choose>
			<when test='category==null and username==null'></when>
			<when test='category!=null and username==null'>
				and class.category='${category}'
			</when>
			<when test='category== null and username!=null'>
				and member.username like '%${username}%'
			</when>
			<when test='category!= null and username!=null'>
				and class.category='${category}' and member.username like
				'%${username}%'
			</when>
			<otherwise></otherwise>
		</choose>
	</select>
	
	<select id="paymentClassAll" parameterType="map"
		resultType="int">
		select sum(class.real_price) from class_order
		join orderlist on class_order.order_code = orderlist.order_code
		join class on class_order.code = class.code
		left join member on orderlist.userid = member.userid
		where to_char(orderlist.orderdate, 'yyyy-mm-dd')&gt;=#{startDate} and
		to_char(orderlist.orderdate, 'yyyy-mm-dd')&lt;=#{endDate}
		<choose>
			<when test='category==null and username==null'></when>
			<when test='category!=null and username==null'>
				and class.category='${category}'
			</when>
			<when test='category== null and username!=null'>
				and member.username like '%${username}%'
			</when>
			<when test='category!= null and username!=null'>
				and class.category='${category}' and member.username like
				'%${username}%'
			</when>
			<otherwise></otherwise>
		</choose>
	</select>
	
	<!-- <select id="paymentClassN" parameterType="map" resultType="int"> select 
		sum(goods.real_price) from goods_order join orderlist on goods_order.order_code 
		= orderlist.order_code join goods on goods_order.code = goods.code left join 
		member on orderlist.userid = member.userid where to_char(orderlist.orderdate, 
		'yyyy-mm-dd')&gt;=#{startDate} and to_char(orderlist.orderdate, 'yyyy-mm-dd')&lt;=#{endDate} 
		and goods_order.finished='미확정' <choose> <when test='category==null and username==null'></when> 
		<when test='category!=null and username==null'> and class.category='${category}' 
		</when> <when test='category== null and username!=null'> and member.username 
		like '%${username}%' </when> <when test='category!= null and username!=null'> 
		and class.category='${category}' and member.username like '%${username}%' 
		</when> <otherwise></otherwise> </choose> </select> -->
	<select id="paymentClassY" parameterType="map" resultType="_int">
		select count(*) order_code from class_order join orderlist on
		orderlist.order_code = class_order.order_code
		join class on
		class_order.code = class.code
		left join member on orderlist.userid = member.userid
		where
		to_char(orderlist.orderdate, 'yyyy-mm-dd')&gt;=#{startDate} and
		to_char(orderlist.orderdate, 'yyyy-mm-dd')&lt;=#{endDate}

		<choose>
			<when test='category==null and username==null'></when>
			<when test='category!=null and username==null'>
				and class.category='${category}'
			</when>
			<when test='category== null and username!=null'>
				and member.username like '%${username}%'
			</when>
			<when test='category!= null and username!=null'>
				and class.category='${category}' and member.username like
				'%${username}%'
			</when>
			<otherwise></otherwise>
		</choose>
	</select>
	
	<select id="paymentClassN" parameterType="map" resultType="_int">
		select count(*) cnt from class_order
		join orderlist on class_order.order_code = orderlist.order_code
		join class on class_order.code = class.code
		left join member on orderlist.userid = member.userid
		where settlement = 'N'
		<choose>
			<when test='category==null and username==null'></when>
			<when test='category!=null and username==null'>
				and class.category='${category}'
			</when>
			<when test='category== null and username!=null'>
				and member.username like '%${username}%'
			</when>
			<when test='category!= null and username!=null'>
				and class.category='${category}' and member.username like '%${username}%'
			</when>
			<otherwise></otherwise>
		</choose>
	</select>

	<!-- dashboard -->

	<select id="managePaymentClass_Dash" parameterType="map"
		resultType="com.bitcamp.gachi.admin.SettleVO">
		select class_order.order_code, class.category,
		class.class_name, orderlist.userid, member.username, class.real_price,
		to_char(orderlist.orderdate, 'yyyy-mm-dd') orderdate ,
		orderlist.fix_state from class_order
		join orderlist on class_order.order_code = orderlist.order_code
		join class on class_order.code = class.code
		left join member on orderlist.userid = member.userid
		where to_char(orderlist.orderdate, 'yyyy-mm')&gt;=#{startMonth} and
		to_char(orderlist.orderdate, 'yyyy-mm')&lt;=#{endMonth}

	</select>
	<select id="paymentAll_Dash" parameterType="map"
		resultType="int">
		select sum(price) from orderlist
		where
		to_char(orderlist.orderdate, 'yyyy-mm')&gt;=#{startMonth} and
		to_char(orderlist.orderdate, 'yyyy-mm')&lt;=#{endMonth}

	</select>
	<select id="paymentStoreAll_Dash" parameterType="map"
		resultType="int">
		select sum(goods.real_price) from goods_order
		join orderlist on goods_order.order_code = orderlist.order_code
		join goods on goods_order.code = goods.code
		left join member on orderlist.userid = member.userid
		where to_char(orderlist.orderdate, 'yyyy-mm')&gt;=#{startMonth} and
		to_char(orderlist.orderdate, 'yyyy-mm')&lt;=#{endMonth}
	</select>


	<select id="paymentClassAll_Dash" parameterType="map"
		resultType="int">
		select sum(class.real_price) from class_order
		join orderlist on class_order.order_code = orderlist.order_code
		join class on class_order.code = class.code
		left join member on orderlist.userid = member.userid
		where to_char(orderlist.orderdate, 'yyyy-mm')&gt;=#{startMonth} and
		to_char(orderlist.orderdate, 'yyyy-mm')&lt;=#{endMonth}
	</select>


	<select id="dashClassChart" parameterType="map"
		resultType="_int">
		<foreach collection="list" item="item" separator=" union all">
			select NVL(sum(class.real_price),0) from class_order
			join orderlist on
			class_order.order_code = orderlist.order_code
			join class on
			class_order.code = class.code
			where to_char(orderlist.orderdate, 'yyyy-mm')= #{item}
		</foreach>
	</select>


	<select id="dashStoreChart" parameterType="map"
		resultType="_int">
		<foreach collection="list" item="item" separator=" union all">
			select NVL(sum(goods.real_price),0) from goods_order
			join orderlist on
			goods_order.order_code = orderlist.order_code
			join goods on
			goods_order.code = goods.code
			where to_char(orderlist.orderdate, 'yyyy-mm')= #{item}
		</foreach>
	</select>
	<select id="dashAllChart" parameterType="map" resultType="_int">
		<foreach collection="list" item="item" separator=" union all">
			select NVL(sum(price),0) from orderlist
			where to_char(orderlist.orderdate,
			'yyyy-mm')= #{item}
		</foreach>
	</select>

	<insert id="SettleInfoInsert" parameterType="map">
		insert into settlement(settle_num, class_order_code, userid, settlement_amount, payday)
		values(a_sq.nextval, #{class_order_code}, #{userid}, ${price}, to_char(sysdate,'yyyy-MM-dd'))
	</insert>
	
	<update id="SettleStateUpdate" parameterType="String">
		update class_order set settlement='Y' where class_order_code = #{class_order_code}
	</update>

	<update id="PaymentStateUpdate" parameterType="String">
		update goods_order set finished='확정' where goods_order_code = #{goods_order_code}
	</update>
	
	
	
	
	<select id="ClassForGender" parameterType="map" resultType="map">
		select gender_gb, count(*) cnt 
      from (select case when gender= lower('f') then '여자' when gender=lower('m') then '남자' end gender_gb
      from (select gender from orderlist join class_order on orderlist.order_code = class_order.order_code
            join member on orderlist.userid= member.userid
            and to_char(orderlist.orderdate, 'yyyy-mm-dd')&gt;= #{startDate} and to_char(orderlist.orderdate, 'yyyy-mm-dd')&lt;= #{endDate}
            )
      )
    group by gender_gb
	</select>
	<select id="ClassForAge" parameterType="map" resultType="map">
		SELECT age_gb, COUNT(*) cnt
	  		FROM (SELECT CASE WHEN age &lt; 10 THEN '유아'
	                    WHEN AGE &gt;= 10 AND age &lt; 20 THEN '10대'
	                    WHEN age &gt;= 20 AND age &lt; 30 THEN '20대'
	                    WHEN age &gt;= 30 AND age &lt; 40 THEN '30대'
	                    WHEN age &gt;= 40 AND age &lt; 50 THEN '40대'
	                    WHEN age &gt;= 50 AND age &lt; 60 THEN '50대'
	                    WHEN age &gt;= 60 THEN '60대이상'
	                END age_gb
	          FROM (SELECT (to_number(to_char(sysdate, 'yyyy'))-to_number(to_char(birthdate, 'yyyy'))+1) as age
	                  FROM orderlist join class_order on orderlist.order_code = class_order.order_code
            			join member on orderlist.userid= member.userid
           			 	and to_char(orderlist.orderdate, 'yyyy-mm-dd')&gt;= #{startDate} and to_char(orderlist.orderdate, 'yyyy-mm-dd')&lt;= #{endDate}
	                )
	         	)
 		GROUP BY age_gb ORDER BY age_gb	
	</select>
	
	
		<select id="StoreForGender" parameterType="map" resultType="map">
		select gender_gb, count(*) cnt 
      from (select case when gender= lower('f') then '여자' when gender=lower('m') then '남자' end gender_gb
      from (select gender from orderlist join goods_order on orderlist.order_code = goods_order.order_code
            join member on orderlist.userid= member.userid
            and to_char(orderlist.orderdate, 'yyyy-mm-dd')&gt;= #{startDate} and to_char(orderlist.orderdate, 'yyyy-mm-dd')&lt;= #{endDate}
            )
      )
    group by gender_gb
	</select>
	<select id="StoreForAge" parameterType="map" resultType="map">
		SELECT age_gb, COUNT(*) cnt
	  		FROM (SELECT CASE WHEN age &lt; 10 THEN '유아'
	                    WHEN AGE &gt;= 10 AND age &lt; 20 THEN '10대'
	                    WHEN age &gt;= 20 AND age &lt; 30 THEN '20대'
	                    WHEN age &gt;= 30 AND age &lt; 40 THEN '30대'
	                    WHEN age &gt;= 40 AND age &lt; 50 THEN '40대'
	                    WHEN age &gt;= 50 AND age &lt; 60 THEN '50대'
	                    WHEN age &gt;= 60 THEN '60대이상'
	                END age_gb
	          FROM (SELECT (to_number(to_char(sysdate, 'yyyy'))-to_number(to_char(birthdate, 'yyyy'))+1) as age
	                  FROM orderlist join goods_order on orderlist.order_code = goods_order.order_code
            			join member on orderlist.userid= member.userid
           			 	and to_char(orderlist.orderdate, 'yyyy-mm-dd')&gt;= #{startDate} and to_char(orderlist.orderdate, 'yyyy-mm-dd')&lt;= #{endDate}
	                )
	         	)
 		GROUP BY age_gb ORDER BY age_gb	
	</select>
	
	
	
	<!-- 배송관련 -->
	
	<select id="countdeposit" resultType="_int">
		select count(state) from orderlist 
		join goods_order on orderlist.order_code= goods_order.order_code
		where state = '결제완료'		
	</select>
		<select id="countWaitDelivery" resultType="_int">
		select count(state) from orderlist 
		join goods_order on orderlist.order_code= goods_order.order_code
		where state ='배송준비'		
	</select>
		<select id="countDelivery" resultType="_int">
		select count(state) from orderlist 
		join goods_order on orderlist.order_code= goods_order.order_code
		where state = '배송중'		
	</select>
		<select id="countEndDelivery" resultType="_int">
		select count(state) from orderlist 
		join goods_order on orderlist.order_code= goods_order.order_code
		where state = '배송완료'		
	</select>
		<select id="selectCntAllDelivery" parameterType="map" resultType="_int">
		select count(state) from orderlist 
		join goods_order on orderlist.order_code= goods_order.order_code
		<choose>
			<when test='state==null and search==null'></when>
			<when test='state!=null and search==null'>
				 and state='${state}'
			</when>
			<when test='state==null and search!=null'>
				and (username like '%${search}%' or nickname like '%${search}%' or tel like '%${search}%' or userid like '%${search}%')
			</when>
			<when test='state!=null and search!=null'>
				and state='${state}' and (username like '%${search}%' or nickname like '%${search}%' or tel like '%${search}%' or userid like '%${search}%')
			</when>
			<otherwise></otherwise>
		</choose>
	</select>
	<select id="selectAllDelivery" parameterType="map" resultType="com.bitcamp.gachi.admin.SettleVO">	
	SELECT * FROM
		    ( SELECT A.*, ROWNUM AS RNUM FROM
		            (SELECT rownum, category, goods_order.code, goods.goods_name, username, tel, 
	        		delivery, to_char(orderlist.orderdate, 'yyyy-mm-dd')orderdate, orderlist.state from goods_order
                        join orderlist on orderlist.order_code= goods_order.order_code
                        join member on orderlist.userid = member.userid
                        join goods on goods.code=goods_order.code
		           
		             		<choose>
								<when test='state==null and search==null'></when>
								<when test='state!=null and search==null'>
									 and state='${state}'
								</when>
								<when test='state=null and search!=null'>
									and (username like '%${search}%' or nickname like '%${search}%' or tel like '%${search}%' or userid like '%${search}%')
								</when>
								<when test='state!=null and search!=null'>
									and state='${state}' and (username like '%${search}%' or nickname like '%${search}%' or tel like '%${search}%' or userid like '%${search}%')
								</when>
								<otherwise></otherwise>
							</choose>
		            ) A
		        WHERE
		            ROWNUM &lt;= ${endNum}
		    )
		WHERE
		    RNUM &gt;=${startNum}
   	</select>
   	
   		<select id="selectDelivery" resultType="com.bitcamp.gachi.admin.SettleVO">
		select orderlist.order_code,category, goods_order.code, goods.goods_name, username, tel, 
	    	delivery, to_char(orderlist.orderdate, 'yyyy-mm-dd')orderdate, orderlist.state from goods_order
            join orderlist on orderlist.order_code= goods_order.order_code
            join member on orderlist.userid = member.userid
            join goods on goods.code=goods_order.code
            where goods.code = #{code}
	</select>
	
	<update id ="DeliveryUpdate" parameterType="map">
		update orderlist set state=#{state} , delivery=#{delivery} where order_code =#{order_code}
	</update>
	
	
	<!-- 크리에이터 대쉬보드 -->
		<select id="countWaitClass" parameterType="String" resultType="_int">
			select count(class_state) cnt from class
				join creator on class.userid = creator.userid
				where class.userid = #{userid}
				and class_state ='미승인'
		</select>
		
		<select id="totalPayment" parameterType="map" resultType="_int">
			select nvl(sum(nvl(real_price,0)),0) sum from class
				join class_order on class.code = class_order.code
                join orderlist on class_order.order_code = orderlist.order_code
				where class.userid=#{userid}
				and class_order.settlement='Y'
				and to_char(orderdate,'yyyy-MM-dd')&gt;=#{startDate} and to_char(orderdate,'yyyy-MM-dd')&lt;=#{endDate}
		</select>
		
		<select id="non_Payment" parameterType="String" resultType="_int">
			select sum(real_price) sum from class
				join class_order on class.code = class_order.code
				where class.userid =#{userid}
				and class_order.settlement='N'
		</select>
		
		<select id="creatorPayment" parameterType="map" resultType="int">
			<foreach collection="list" item="item" separator=" union all">
					select nvl(sum(nvl(real_price,0)),0) sum from class
						join class_order on class.code = class_order.code
		                join orderlist on class_order.order_code = orderlist.order_code
						where class.userid=#{userid}
						and class_order.settlement='Y'
						and to_char(orderdate,'yyyy-MM-dd')=#{item}
			</foreach>
		</select>
		
		<select id="classTotalMember" parameterType="map" resultType="int">
			<foreach collection="list" item="item" separator=" union all">
					select count(*) as cnt from class_order
					join class on class.code = class_order.code
					join orderlist on class_order.order_code = orderlist.order_code
					where class.userid = #{userid}
					and to_char(orderdate,'yyyy-MM-dd')=#{item}
			</foreach>
		</select>
		
		<select id="StatClassForAge" parameterType="map" resultType="map">
		SELECT age_gb, COUNT(*) cnt
	  		FROM (SELECT CASE WHEN age &lt; 10 THEN '유아'
	                    WHEN AGE &gt;= 10 AND age &lt; 20 THEN '10대'
	                    WHEN age &gt;= 20 AND age &lt; 30 THEN '20대'
	                    WHEN age &gt;= 30 AND age &lt; 40 THEN '30대'
	                    WHEN age &gt;= 40 AND age &lt; 50 THEN '40대'
	                    WHEN age &gt;= 50 AND age &lt; 60 THEN '50대'
	                    WHEN age &gt;= 60 THEN '60대이상'
	                END age_gb
	          FROM (SELECT (to_number(to_char(sysdate, 'yyyy'))-to_number(to_char(birthdate, 'yyyy'))+1) as age
	                  FROM orderlist join class_order on orderlist.order_code = class_order.order_code
            			join member on orderlist.userid= member.userid
                        join class on class.code = class_order.code
                        where class.userid =#{userid}
           			 	and to_char(orderlist.orderdate, 'yyyy-mm-dd')&gt;= #{startDate} and to_char(orderlist.orderdate, 'yyyy-mm-dd')&lt;= #{endDate}
	                )
	         	)
 		GROUP BY age_gb ORDER BY age_gb	
	</select>
	
	<select id="StatClassForGender" parameterType="map" resultType="map">
		select gender_gb, count(*) cnt 
      from (select case when gender= lower('f') then '여자' when gender=lower('m') then '남자' end gender_gb
      from (select gender from orderlist join class_order on orderlist.order_code = class_order.order_code
            join member on orderlist.userid= member.userid
            join class on class.code = class_order.code
            where class.userid =#{userid}
            and to_char(orderlist.orderdate, 'yyyy-mm-dd')&gt;= #{startDate} and to_char(orderlist.orderdate, 'yyyy-mm-dd')&lt;= #{endDate}
            )
      )
    group by gender_gb
	</select>
	
	
	<select id="CreatorCntAllSettle" parameterType="map" resultType="_int">
		select count(*) as cnt from class_order join class on class_order.code= class.code
		join orderlist on class_order.order_code = orderlist.order_code
		join class on class_order.code = class.code
		where class.userid =#{userid}
		<choose>
			<when test='category==null and class_name==null'></when>
			<when test='category!=null and class_name==null'>
				and class.category='${category}'
			</when>
			<when test='category==null and class_name!=null'>
				and class.class_name like '%${class_name}%'
			</when>
			<when test='category!=null and class_name!=null'>
				and class.category='${category}' and class.class_name like
				'%${class_name}%'
			</when>
			<otherwise></otherwise>
		</choose>
	</select>
	
	<select id="CreatorAllSettle" parameterType="map" resultType="com.bitcamp.gachi.admin.SettleVO">

		SELECT * FROM (SELECT A.*, ROWNUM AS RNUM FROM 
		(SELECT
		class_order.order_code, class.category, class.class_name, class.userid,
		member.username,class.real_price, to_char(settlement.payday,
		'yyyy-mm-dd') payday, settlement from class_order
		join class on class_order.code = class.code
		join orderlist on orderlist.order_code= class_order.order_code
        join member on orderlist.userid = member.userid
		left join settlement on class_order.class_order_code =settlement.class_order_code
		where to_char(orderlist.orderdate, 'yyyy-mm-dd')&gt;=#{startDate} and to_char(orderlist.orderdate, 'yyyy-mm-dd')&lt;=#{endDate}
		and class.userid =#{userid}
		<choose>
			<when test='category==null and class_name==null'></when>
			<when test='category!=null and class_name==null'>
				and class.category='${category}'
			</when>
			<when test='category==null and class_name!=null'>
				and class.class_name like '%${class_name}%'
			</when>
			<when test='category!=null and class_name!=null'>
				and class.category='${category}' and class.class_name like
				'%${class_name}%'
			</when>
			<otherwise></otherwise>
		</choose>
		) A WHERE ROWNUM &lt;= ${endNum} ) WHERE RNUM &gt;=${startNum}
	</select>
	
	<select id="creatorSalesY" parameterType="map" resultType="int">
		select sum(class.real_price) from class_order
		join orderlist on class_order.order_code = orderlist.order_code
		join class on class_order.code = class.code
		left join settlement on class_order.class_order_code = settlement.class_order_code
		where to_char(orderlist.orderdate, 'yyyy-mm-dd')&gt;=#{startDate} and
		to_char(orderlist.orderdate, 'yyyy-mm-dd')&lt;=#{endDate} and (class_order.settlement='y' or class_order.settlement='Y')
		and class.userid =#{userid}
		<choose>
			<when test='category==null and class_name==null'></when>
			<when test='category!=null and class_name==null'>
				and class.category='${category}'
			</when>
			<when test='category== null and class_name!=null'>
				and class.username like '%${class_name}%'
			</when>
			<when test='category!= null and class_name!=null'>
				and class.category='${category}' and class.class_name like
				'%${class_name}%'
			</when>
			<otherwise></otherwise>
		</choose>
	</select>
	<select id="creatorSalesN" parameterType="map" resultType="_int">
		select sum(class.real_price) from class_order
		join orderlist on class_order.order_code = orderlist.order_code
		join class on class_order.code = class.code
		left join settlement on class_order.class_order_code = settlement.class_order_code
		where to_char(orderlist.orderdate, 'yyyy-mm-dd')&gt;=#{startDate} and to_char(orderlist.orderdate, 'yyyy-mm-dd')&lt;=#{endDate} and
		(class_order.settlement='n' or class_order.settlement='N') and class.userid =#{userid}
		<choose>
			<when test='category==null and class_name==null'></when>
			<when test='category!=null and class_name==null'>
				and class.category='${category}'
			</when>
			<when test='category== null and class_name!=null'>
				and class.username like '%${class_name}%'
			</when>
			<when test='category!= null and class_name!=null'>
				and class.category='${category}' and class.class_name like
				'%${class_name}%'
			</when>
			<otherwise></otherwise>
		</choose>
	</select>
	
	<select id="creatorAllSales" parameterType="map" resultType="_int">
		select sum(class.real_price) from class_order
		join orderlist on class_order.order_code = orderlist.order_code
		join class on class_order.code = class.code
		left join settlement on class_order.class_order_code = settlement.class_order_code
		where to_char(orderlist.orderdate, 'yyyy-mm-dd')&gt;=#{startDate} and
		to_char(orderlist.orderdate, 'yyyy-mm-dd')&lt;=#{endDate} and
		class.userid =#{userid}
		<choose>
			<when test='category==null and class_name==null'></when>
			<when test='category!=null and class_name==null'>
				and class.category='${category}'
			</when>
			<when test='category== null and class_name!=null'>
				and class.username like '%${class_name}%'
			</when>
			<when test='category!= null and class_name!=null'>
				and class.category='${category}' and class.class_name like
				'%${class_name}%'
			</when>
			<otherwise></otherwise>
		</choose>
	</select>
	
	
	
</mapper>