<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitcamp.gachi.store.StoreDaoImp">
	<select id="storeAllRecord" parameterType="com.bitcamp.gachi.store.StorePageVO" resultType="com.bitcamp.gachi.store.StorePageVO">
		select * from 
		(select * from 
		(select code, category, goods_name, real_price, goods_img1, to_char(writedate, 'YYYY-MM-DD') writedate, good from goods 
		<choose>
			<when test='category==null and selectval == null'></when>
			<when test='category==null and selectval.equals("Iall")'></when>
			<when test='category==null and selectval.equals("Inew")'>
				where writedate<![CDATA[ <= ]]> sysdate order by writedate desc) 
			</when>
			<when test='category==null and selectval.equals("Ipopular")'>
				where writedate<![CDATA[ <= ]]> sysdate order by good desc) 
			</when>
			<when test="category!=null and selectval==null">
				where writedate<![CDATA[ <= ]]> sysdate and category='${category}'order by enddate asc) 
			</when>
			<when test='category!=null and selectval.equals("Iall")'>
				where writedate<![CDATA[ <= ]]> sysdate and category='${category}'order by enddate asc) 
			</when>
			<when test='category!=null and selectval.equals("Inew")'>
				where writedate<![CDATA[ <= ]]> sysdate and category='${category}' order by writedate desc) 	
			</when>			
			<when test='category!=null and selectval.equals("Ipopular")'>
				where writedate<![CDATA[ <= ]]> sysdate and category='${category}' order by good desc)	
			</when>
		</choose>
		where <![CDATA[rownum<=(${nowPage}*${onePageRecord})]]> order by writedate desc)
		where <![CDATA[rownum<=${lastPageRecordCount}]]> order by writedate asc
		<choose>
			<when test='category==null and selectval == null'>
			)
			</when>
			<when test='category==null and selectval.equals("Iall")'>
			)
			</when>
		</choose>
	</select>
	<select id="storeView" parameterType="String" resultType="com.bitcamp.gachi.admin.AllVO">
		select code, category, goods_name, real_price, stock, stack, goods_info, goods_img1, good
		from goods where code='${param1}'
	</select>
	<select id="storeListAllRecordCount" parameterType="com.bitcamp.gachi.store.StorePageVO" resultType="int">
		select count(goods_name) from goods order by enddate
	</select>
	<select id="storeListCategoryRecordCount" parameterType="com.bitcamp.gachi.store.StorePageVO" resultType="int">
		select count(goods_name) from goods where category ='${category}' order by enddate
	</select>
</mapper>