<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitcamp.gachi.store.StoreDaoImp">
	<select id="storeAllRecord" parameterType="com.bitcamp.gachi.store.StorePageVO" resultType="com.bitcamp.gachi.store.StorePageVO">
		select * from 
		(select * from 
		(select code, good, category, goods_name, real_price, goods_img1, to_char(writedate, 'YYYY-MM-DD') writedate from goods 
		<choose>
			<when test='category==null and selectval == null'>
			where sale_state='판매중' )
			</when>
			<when test='category==null and selectval.equals("Iall")'>
			where sale_state='판매중' )
			</when>
			<when test='category==null and selectval.equals("Inew")'>
				where writedate<![CDATA[ <= ]]> sysdate and sale_state='판매중'  order by writedate desc) 
			</when>
			<when test='category==null and selectval.equals("Ipopular")'>
				where writedate<![CDATA[ <= ]]> sysdate and sale_state='판매중'order by good asc) 
			</when>
			<when test="category!=null and selectval==null">
				where writedate<![CDATA[ <= ]]> sysdate and category='${category}' and sale_state='판매중' order by enddate asc) 
			</when>
			<when test='category!=null and selectval.equals("Iall")'>
				where writedate<![CDATA[ <= ]]> sysdate and category='${category}' and sale_state='판매중' order by enddate asc) 
			</when>
			<when test='category!=null and selectval.equals("Inew")'>
				where writedate<![CDATA[ <= ]]> sysdate and category='${category}' and sale_state='판매중' order by writedate desc) 	
			</when>			
			<when test='category!=null and selectval.equals("Ipopular")'>
				where writedate<![CDATA[ <= ]]> sysdate and category='${category}' and sale_state='판매중' order by good asc)	
			</when>
		</choose>
		where <![CDATA[rownum<=(${nowPage}*${onePageRecord})]]> order by writedate desc)
		where <![CDATA[rownum<=${lastPageRecordCount}]]>
		<choose>
			<when test='category==null and selectval == null'>
			 order by writedate asc
			</when>
			<when test='category==null and selectval.equals("Iall")'>
			 order by writedate asc 
			</when>
			<when test='category==null and selectval.equals("Inew")'>
			order by writedate desc
			</when>
			<when test='category==null and selectval.equals("Ipopular")'>
				order by good desc 
			</when>
			<when test="category!=null and selectval==null">
			order by writedate asc
			</when>
			<when test='category!=null and selectval.equals("Iall")'>
				order by writedate asc
			</when>
			<when test='category!=null and selectval.equals("Inew")'>
				order by writedate asc
			</when>			
			<when test='category!=null and selectval.equals("Ipopular")'>
				order by good desc 
			</when>
		</choose>
	</select>
	<select id="storeView" parameterType="String" resultType="com.bitcamp.gachi.admin.AllVO">

		select code, category, goods_name, real_price, stock, stack, goods_info, goods_img1, goods_img2, good
		from goods where code='${param1}'
	</select>
	<select id="storeListAllRecordCount" parameterType="com.bitcamp.gachi.store.StorePageVO" resultType="int">
		select count(goods_name) from goods
	</select>
	<select id="storeListCategoryRecordCount" parameterType="com.bitcamp.gachi.store.StorePageVO" resultType="int">
		select count(goods_name) from goods where category ='${category}' order by enddate
	</select>

	<insert id="insertReview"
		parameterType="com.bitcamp.gachi.admin.AllVO">
		insert into goods_review (num, code, userid, subject,
		content, writedate, grade, ip)
		values(a_sq.nextval,'${code}','${userid}','${subject}','${content}',sysdate,
		${grade}, '${ip}')
	</insert>
	<update id="updateReview" parameterType="com.bitcamp.gachi.admin.AllVO">
		update goods_review set grade='${grade}', subject='${subject}', content='${content}' where num=${num}
	</update>
	<select id="orderCheck" resultType="int">
		select count(*) from member m join orderlist o on m.userid=o.userid join goods_order g on o.order_code=g.order_code 
		where m.userid='${userid}' and code='${code}'
	</select>
	<select id="reviewList"
		resultType="com.bitcamp.gachi.admin.AllVO">
		select num, code, nickname, subject, content,
		to_char(g.writedate, 'YY.MM.DD') writedate, g.grade from goods_review g
		join member m on g.userid=m.userid
		where code='${param1}' order by num desc
	</select>
</mapper>