<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitcamp.gachi.store.StoreDaoImp">
	<select id="storeAllRecord" parameterType="String" resultType="com.bitcamp.gachi.admin.AllVO">
		select code, category, goods_name, real_price, goods_img1 from goods
		<choose>
			<when test='category==null and selectval == null'></when>
			<when test='category==null and selectval.equals("Iall")'></when>
			<when test='category==null and selectval.equals("Inew")'>
				order by writedate desc
			</when>
			<when test='category==null and selectval.equals("Ipopular")'>
				order by good desc
			</when>
			<when test="category!=null and selectval==null">
				where category='${param1}'
			</when>
			<when test='category!=null and selectval.equals("Iall")'>
				where category='${param1}'
			</when>
			<when test='category!=null and selectval.equals("Inew")'>
				where category='${param1}' order by writedate desc	
			</when>			
			<when test='category!=null and selectval.equals("Ipopular")'>
				where category='${param1}' order by good desc	
			</when>
		</choose>
	</select>
	<select id="storeView" parameterType="String" resultType="com.bitcamp.gachi.admin.AllVO">
		select category, goods_name, real_price, stock, stack, goods_info, goods_img1
		from goods where code='${param1}'
	</select>
</mapper>