<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitcamp.gachi.creator.TestDaoImp">
	<select id="selectMember" resultType="com.bitcamp.gachi.creator.TestVO">
		select id,password,username from test	
	</select>
</mapper>