<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitcamp.gachi.mypage.UserInfoDaoImp">
	<select id="goodsOrderList" resultType="com.bitcamp.gachi.mypage.GoodsVO">
		select username, to_char(birthdate, 'YYYY-MM-DD') birthdate, userid, nickname, tel, addr, detailaddr, interest from member where userid=#{userid}	
	</select>
	<select id="userInfoView" resultType="com.bitcamp.gachi.register.RegisterVO">
		select username, to_char(birthdate, 'YYYY-MM-DD') birthdate, userid, nickname, tel, addr, detailaddr, interest from member where userid=#{userid}	
	</select>
	<select id="userInfoPwdChk" parameterType="com.bitcamp.gachi.register.RegisterVO" resultType="_int">
		select count(userid) from member where userid=#{userid} and userpwd=#{userpwd}
	</select>
	<update id="userInfoEdit" parameterType="com.bitcamp.gachi.register.RegisterVO">
		update member set nickname=#{nickname}, tel=#{tel}, addr=#{addr}, detailaddr=#{detailaddr}, userpwd=#{userpwd} where userid=#{userid}
	</update>
	<update id="userLeave" parameterType="com.bitcamp.gachi.register.RegisterVO">
		update member set deleted='탈퇴', withdrawdate=sysdate where userid=#{userid}
	</update>
</mapper>