<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitcamp.gachi.mypage.UserInfoDaoImp">
	<select id="orderList" parameterType="String" resultType="String">
		select order_code from orderlist where userid='${userid}' order by orderdate desc
	</select>
	<select id="orderListDate" parameterType="String" resultType="String">
		select order_code
 		 from orderlist
 		 where userid='${userid}' 
 		 and orderdate between to_date('${startDate}','YYYY-MM-DD') and to_date('${endDate}','YYYY-MM-DD') + 0.99999
 		 order by orderdate desc
	</select>
	<select id="classOrderView" parameterType="String" resultType="com.bitcamp.gachi.mypage.OrderListVO">
		select class_img, category, o.order_code, class_order_code, c.class_name, real_price, nickname, to_char(orderdate,'YYYY-MM-DD HH24:MI:SS') orderdate
		 from orderlist o, class_order co, class c, member m
		 where o.order_code = co.order_code(+)
		 and co.code = c.code
		 and c.userid = m.userid
		 and o.order_code='${order_code}'
	</select>
	<select id="goodsOrderView" parameterType="String" resultType="com.bitcamp.gachi.mypage.OrderListVO">
		select state, delivery, goods_img1, category, o.order_code, goods_order_code, g.goods_name, real_price, amount, to_char(orderdate,'YYYY-MM-DD HH24:MI:SS') orderdate, finished
		 from orderlist o, goods_order go, goods g
		 where o.order_code = go.order_code(+)
		 and go.code = g.code
		 and o.order_code='${order_code}'
	</select>
	<update id="userOrderFix">
		update goods_order set finished = '확정' 
		 where goods_order_code = '${goods_order_code}'
	</update>
	<select id="userInfoView" parameterType="String" resultType="com.bitcamp.gachi.mypage.MemberVO">
		select userid, username, nickname, to_char(birthdate, 'YYYY-MM-DD') birthdate, tel, gender, zipcode, addr, detailaddr,
		 to_char(signupdate, 'YYYY-MM-DD') signupdate, interest from member where userid='${userid}'	
	</select>
	<select id="userInfoPwdChk" parameterType="com.bitcamp.gachi.mypage.MemberVO" resultType="_int">
		select count(userid) from member where userid='${userid}' and userpwd='${userpwd}'
	</select>
	<update id="userInfoEditPwd" parameterType="com.bitcamp.gachi.mypage.MemberVO">
		update member set userpwd='${userpwd}', nickname='${nickname}', tel='${tel}', zipcode='${zipcode}', addr='${addr}', detailaddr='${detailaddr}',
		 interest='${interest}' where userid='${userid}'
	</update>
	<update id="userInfoEdit" parameterType="com.bitcamp.gachi.mypage.MemberVO">
		update member set nickname='${nickname}', tel='${tel}', zipcode='${zipcode}', addr='${addr}', detailaddr='${detailaddr}',
		 interest='${interest}' where userid='${userid}'
	</update>
	<update id="userLeave" parameterType="com.bitcamp.gachi.mypage.MemberVO">
		update member set deleted='탈퇴', withdrawdate=sysdate where userid='${userid}'
	</update>
	<select id="classCartView" parameterType="String" resultType="com.bitcamp.gachi.mypage.OrderListVO">
		select ct.code, class_img, class_name, nickname, amount, stack, real_price
		 from cart ct, class c, member m
		 where ct.code = c.code
		 and c.userid = m.userid
		 and ct.userid='${userid}'
	</select>
	<select id="goodsCartView" parameterType="String" resultType="com.bitcamp.gachi.mypage.OrderListVO">
		select ct.code, goods_img1, goods_name, amount, stack, real_price
		 from cart ct, goods g
		 where ct.code = g.code
		 and ct.userid='${userid}'
	</select>
	<select id="countUserCart" resultType="int">
		select count(code) from cart where userid='${userid}'
	</select>
	<select id="countGoodsCart" resultType="int">
		select amount from cart where userid='${userid}' and code='${code}'
	</select>
	<select id="userCartCheck" parameterType="com.bitcamp.gachi.mypage.OrderVO" resultType="int">
		select count(code) from cart where userid='${userid}' and code='${code}'
	</select>
	<select id="userCartClassCheck" parameterType="com.bitcamp.gachi.mypage.OrderVO" resultType="int">
		select count(code) 
		 from orderlist o, class_order co
		 where o.order_code = co.order_code
		 and userid='${userid}'
		 and code='${code}'
	</select>
	<insert id="userCartInsert" parameterType="com.bitcamp.gachi.mypage.OrderVO">
		insert into cart(userid, code, amount)
		 values('${userid}', '${code}', ${amount})
	</insert>
	<delete id="cartDelete">
		delete from cart 
	 	 where userid='${userid}'
		 and code='${code}'
	</delete>
	<delete id="cartDeleteAll">
		delete from cart 
	 	 where userid='${userid}'
	</delete>
	<update id="cartUpdate" parameterType="com.bitcamp.gachi.mypage.OrderListVO">
		update cart set amount = ${amount}
		 where userid = '${userid}'
		 and code='${code}'
	</update>
	<select id="classOrderList" parameterType="String" resultType="com.bitcamp.gachi.mypage.OrderListVO">
		select ct.code, class_img, class_name, nickname, amount, stack, real_price
		 from cart ct, class c, member m
		 where ct.code = c.code
		 and c.userid = m.userid
		 and c.code = '${code}'
	</select>
	<select id="goodsOrderList" parameterType="String" resultType="com.bitcamp.gachi.mypage.OrderListVO">
		select ct.code, goods_img1, goods_name, amount, stack, real_price
		 from cart ct, goods g
		 where ct.code = g.code
		 and g.code = '${code}'
	</select>
	<insert id="orderInsert" parameterType="com.bitcamp.gachi.mypage.OrderVO">
		insert into orderlist(order_code, userid, full_price, shipping_fee, discount, price, payment_type, card_type, zipcode, addr, detailaddr, etc)
		values('${order_code}', '${userid}', ${full_price}, ${shipping_fee}, ${discount}, ${price}, '${payment_type}', '${card_type}', '${zipcode}', '${addr}', '${detailaddr}', '${etc}')
	</insert>
	<insert id="classOrderInsert" parameterType="com.bitcamp.gachi.mypage.OrderListVO">
		insert into class_order(class_order_code, order_code, code)
		 values('c'||to_char(sysdate,'YYYYMMDD')||a_sq.nextval, '${order_code}', '${code}')
	</insert>
	<insert id="goodsOrderInsert" parameterType="com.bitcamp.gachi.mypage.OrderListVO">
		insert into goods_order(goods_order_code, order_code, code, amount)
		 values('g'||to_char(sysdate,'YYYYMMDD')||a_sq.nextval, '${order_code}', '${code}', ${amount})
	</insert>
	<insert id="courseInsert" parameterType="com.bitcamp.gachi.mypage.OrderListVO">
		insert into course(course_code, code, userid, startdate, enddate, success)
		 values('cou'||to_char(sysdate,'YYYYMMDD')||a_sq.nextval, '${code}', '${userid}', sysdate, sysdate+90, 'N')
	</insert>
	<select id="orderView" parameterType="String" resultType="com.bitcamp.gachi.mypage.OrderVO">
		select order_code, price, payment_type
		 from orderlist
		 where order_code = '${order_code}'
	</select>
	<select id="getClassName" resultType="String">
		select class_name from class where code = '${code}'
	</select>
	<select id="getGoodsName" resultType="String">
		select goods_name from goods where code = '${code}'
	</select>
	<select id="countClass" resultType="int">
		select count(code) 
		 from orderlist o, class_order co 
		 where o.order_code = co.order_code
		 and o.userid = '${userid}'
	</select>
	<select id="myclassList" resultType="com.bitcamp.gachi.mypage.OrderListVO">
		select cou.code, class_img, category, class_name, nickname, to_char(startdate, 'YYYY.MM.DD') startdate, to_char(enddate, 'YYYY.MM.DD')enddate
		 from course cou, class c, member m
		 where cou.code = c.code
		 and c.userid = m.userid
		 and cou.userid = '${userid}'
		 order by enddate desc
	</select>
	<select id="myclassView" resultType="com.bitcamp.gachi.mypage.OrderListVO">
		select cou.code, class_img, category, class_name, nickname, to_char(startdate, 'YYYY.MM.DD') startdate, to_char(enddate, 'YYYY.MM.DD')enddate
		 from course cou, class c, member m
		 where cou.code = c.code
		 and c.userid = m.userid
		 and cou.userid = '${userid}'
		 and cou.code = '${code}'
	</select>
	<select id="sectionList" resultType="com.bitcamp.gachi.mypage.ClassVideoVO">
		select section_code, unit_content from section where code='${code}'
	</select> 
	<select id="classVideoList" resultType="com.bitcamp.gachi.mypage.ClassVideoVO">
		select cv.code, cv.section_code, unit_content, section_index, video_code, video_name, video_length
		 from class_video cv, section s
		 where  cv.section_code = s.section_code
		 and cv.code='${code}'
		 and cv.section_code='${section_code}'
	</select>
	<select id="countGood" resultType="int">
		select count(code) from good where userid='${userid}'
	</select>
	<select id="classWishList" resultType="com.bitcamp.gachi.mypage.OrderListVO">
		select class_img, category, class_name, nickname, c.code code
		 from good gd, member m, class c
		 where  gd.code = c.code
		 and c.userid = m.userid
		 and gd.userid = '${userid}'
	</select>
	<select id="goodsWishList" resultType="com.bitcamp.gachi.mypage.OrderListVO">
		select goods_img1, category, goods_name, g.code code
		 from good gd, goods g
		 where gd.code = g.code
		 and gd.userid = '${userid}'
	</select>
	<insert id="wishListAdd">
		<![CDATA[
			declare
			cnt number;
			begin
			    select count(userid) into cnt from good 
			    where userid='${userid}' and code='${code}';
			if cnt<1 then
			insert into good(userid, code) values('${userid}', '${code}');
			end if;
			end;
		]]>
	</insert>
	<delete id="wishListDel">
		delete from good where userid='${userid}' and code='${code}'
	</delete>
	<update id="goodClassUpdate">
		update class
		<choose>
			<when test="msg.equals('add')">
				set good=good+1 where code='${code}'
			</when>
			<when test="msg.equals('del')">
				set good=good-1 where code='${code}'
			</when>
		</choose>
	</update>
	<update id="goodStoreUpdate">
		update goods
		<choose>
			<when test="msg.equals('add')">
				set good=good+1 where code='${code}'
			</when>
			<when test="msg.equals('del')">
				set good=good-1 where code='${code}'
			</when>
		</choose>
	</update>
	<select id="wishOneRecord" resultType="com.bitcamp.gachi.mypage.OrderListVO">
		select * from good where userid='${userid}' and code='${code}'
	</select>
	<select id="qnaView" resultType="com.bitcamp.gachi.mypage.QnaVO">
		select num, class_img, class_name, subject, content, to_char(writedate, 'YY/MM/DD HH24:MI') writedate, nickname, answer, to_char(answer_writedate, 'YY/MM/DD') answer_writedate
		 from class c, qna q, member m
		 where q.code = c.code
		 and q.writer = m.userid(+)
		 and q.userid='${userid}'
		 order by writedate desc
	</select>
	<delete id="qnaDelete" parameterType="int">
		delete from qna where num = ${num}
	</delete>
	<delete id="classReviewDelete" parameterType="int">
		delete from class_review where num = ${num}
	</delete>
	<delete id="goodsReviewDelete" parameterType="int">
		delete from goods_review where num = ${num}
	</delete>
	<delete id="eventReplyDelete" parameterType="int">
		delete from event_reply where reply_num = ${reply_num}
	</delete>
	<select id="classReview" resultType="com.bitcamp.gachi.mypage.QnaVO">
		select cr.grade, num, class_name, class_img, subject, cr.grade, content, to_char(writedate, 'YY/MM/DD HH24:MI') writedate
		 from class c, class_review cr
		 where c.code = cr.code
		 and cr.userid = '${userid}'	
		 order by writedate desc
	</select>
	<select id="goodsQnaView" resultType="com.bitcamp.gachi.mypage.QnaVO">
		select num, goods_img1, goods_name, subject, content, to_char(q.writedate, 'YY/MM/DD HH24:MI') writedate, nickname, answer, to_char(answer_writedate, 'YY/MM/DD') answer_writedate
		 from goods g, qna q, member m
		 where q.code = g.code
		 and q.writer = m.userid(+)
		 and q.userid='${userid}'
		 order by writedate desc
	</select>
	<select id="goodsReview" resultType="com.bitcamp.gachi.mypage.QnaVO">
		select num, goods_name, goods_img1, subject, gr.grade, content, to_char(gr.writedate, 'YY/MM/DD HH24:MI') writedate
		 from goods g, goods_review gr
		 where g.code = gr.code
		 and gr.userid = '${userid}'	
		 order by writedate desc
	</select>
	<select id="eventReplyView" resultType="com.bitcamp.gachi.board.EventBoardVO">
		select reply_num, subject, event_img, r.content, to_char(r.writedate, 'YY/MM/DD HH24:MI') writedate
		from event e, event_reply r
		where e.event_num = r.event_num
		and userid = '${userid}'
		order by writedate desc
	</select>
	<select id="goodsList" resultType="com.bitcamp.gachi.mypage.OrderListVO">
		select go.code, goods_name 
		 from goods_order go, goods g, orderlist o
		 where o.order_code = go.order_code
		 and go.code = g.code
		 and userid='${userid}'
	</select>
</mapper>