@charset "UTF-8";

ul,li {margin:0; padding:0; list-style-type:none; text-decoration:none;}

#top {width:100%; height:50px; line-height:50px; background-color:pink;}
#top li{float:right; width:7%; text-decoration:none; text-align:center;}


a{text-decoration:none; color: black;}
#menu {width:100%; height:100px; line-height:100px;}
#menu img{widht:150px; height:100px; padding:15px;}
#menu ul{text-decoration:none;}
#menu li{float:left;width:16%; text-align:center; font-size:1.5em;}

/* 폰트설정시  클래스 지정후 폰트적용시키기 */
.cfont{font-family:'OSeongandHanEum';}
.carousel-inner img{width: 100%; height: 400px;}


/*  admin */

#adminMenu>li a {
   color: white;
}

#adminMenu>li a:hover {
   text-decoration: none;
   color: red;
}

#adminMenu {
   text-align: center;
}

#headerDiv>ul>li {
   width: 10%;
   line-height: 50px;
   text-align: center;
}
#headerDiv>ul>li>ul>li {
   width: 160px;
   line-height: 50px;
   text-align: center;
}

.submenu li {
   line-height: 10px;
   background-color: #48679C;
}

#headerDiv, #adminMenu {
   background-color: #48679C;
   height: 50px;
   width: 100%;
   font-size: 20px;
}

#headerDiv {
   z-index: 1000;
   position: relative;
}

#adminMenu>li {
   float: left;
   line-height: 50px;
}

.submenu {
   position: absolute;
   opacity: 0;
   visibility: hidden;
}

#adminMenu>li:hover .submenu {
   opacity: 1;
   visibility: visible;
}