@charset "UTF-8";

/* 媛숈씠 諛곌꼍�깋 = #F4BFA9 
   媛�移� 諛곌꼍�깋 = #ABCEE3 */

ul,li{
	list-style-type:none;
	margin:0;
	padding:0;
}


select{height:30px}
input{text-align:center;}
/* �룿�듃�꽕�젙�떆  �겢�옒�뒪 吏��젙�썑 �룿�듃�쟻�슜�떆�궎湲� */
.cfont{font-family:'OSeongandHanEum';}
.carousel-inner img{width: 100%; height: 400px;}

.container {
	margin-top:50px;
}
.ad_font{
	font-family : 'NanumBarunpen';
}
/*  admin */

#adminMenu{
	position: relative;
}
.wordCut{
	white-space:nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
}

/*愿�由ъ옄 ���떆蹂대뱶*/

/*愿�由ъ옄 �겢�옒�뒪愿�由� start*/
#ad_class_lst{
	border:3px solid #437299;
	margin-bottom:20px;
	border-radius: 10px;
	overflow: auto;
}
#ad_class_lst li{
	float:left;
	width:8%;
	text-align:center;
	border-bottom:1px solid gray;
	height:50px;
	line-height: 50px;
}
#ad_class_lst li:nth-child(8n+1){
	width:10%;
}
#ad_class_lst li:nth-child(8n+2){
	width:10%;
}
#ad_class_lst li:nth-child(8n+3){
	width:25%;
}
#ad_class_lst li:nth-child(8n+4){
	width:15%;
}
#ad_class_lst li:nth-child(8n+5){
	width:10%;
}
#ad_class_lst li:nth-child(8n+6){
	width:10%;
}
#ad_class_lst li:nth-child(8n+7){
	width:10%;
}
#ad_class_lst li:nth-child(8n+8){
	width:10%;
}

/*愿�由ъ옄 �겢�옒�뒪愿�由� end*/

/*愿�由ъ옄 �쉶�썝愿�由� start*/	
#ad_member_info li{
	float:left;
	width:15%;
}
#ad_member_lst{
	border:3px solid #437299;
	overflow:auto;
	border-radius: 10px;
}
#ad_member_lst li{
	width:10%;
	float:left;
	height:40px;
	line-height:40px;
	border-bottom:1px solid gray;
}
#ad_member_lst li:nth-child(8n+1){
	width:5%;
}
#ad_member_lst li:nth-child(8n+2){
	width:20%;
}
#ad_member_lst li:nth-child(8n+5){
	width:20%;
}
#ad_member_lst li:nth-child(8n+6){
	width:15%;
}
#ad_member_lst li:nth-child(8n+7){
	width:15%;
}
#ad_member_lst li:nth-child(8n+8){
	width:5%;
}
#ad_member_View{
	border:3px solid #437299;
	border-radius:10px;
	overflow: auto;
}
#ad_member_View input{
	text-align:left;
}
#ad_member_View>li{
	float:left;
	width:50%;
	border-bottom:1px solid gray;
	font-size: 1.2em;
	line-height:50px;
	height:50px;
	overflow: visible;
}
#ad_member_View>li:nth-child(2n+1){
	width:30%;
	text-align: center;
}
#ad_member_View>li:nth-child(2n){
	text-align:left;
	width:70%;
}
.ad_member_Box{
	height:300px;
	border:3px solid #437299;
	border-radius: 10px;
}

/*愿�由ъ옄 �쉶�썝愿�由� end*/

/* 愿�由ъ옄 �겕由ъ뿉�씠�꽣 愿�由� start*/


#cr_member_info li{
	float:left;
	width:33%;
	height:30px;
}
#cr_member_lst{
	overflow:auto;
	border:3px solid #437299;
	border-radius: 10px;	
}
#cr_member_lst li{
	width:10%;
	float:left;
	height:40px;
	line-height:40px;
	border-bottom:1px solid gray;
}
#cr_member_lst li:nth-child(8n+1){
	width:5%;
}
#cr_member_lst li:nth-child(8n+2){
	width:20%;
}
#cr_member_lst li:nth-child(8n+3){
	width:15%;
}
#cr_member_lst li:nth-child(8n+4){
	width:15%;
}
#cr_member_lst li:nth-child(8n+5){
	width:15%;
}
#cr_member_lst li:nth-child(8n+6){
	width:10%;
}
#cr_member_lst li:nth-child(8n+7){
	width:10%;
}
#cr_member_lst li:nth-child(8n+8){
	width:10%;
}

#cr_member_View{
	width:80%;
	margin:0 auto;
	overflow: auto;
}
#cr_member_View>li{
	float:left;
	width:50%;
	border:1px solid gray;
	font-size: 1.2em;
	line-height:50px;
	height:50px;
}
#cr_member_View>li:nth-child(2n+1){
	width:30%;
}
#cr_member_View>li:nth-child(2n){
	text-align:left;
	width:70%;
}
.cr_member_Box{
	height:300px;
	border:3px solid #F4BFA9;
}
.cr_right_align{
	height:50px;		
	text-align:right;
}

/*愿�由ъ옄 �겕由ъ뿉�씠�꽣愿�由� end*/



/* 愿�由ъ옄 二쇰Ц 愿�由� start*/

#ad_order_lst{
	overflow:auto;
	border:3px solid #437299;
	border-radius:10px;
	
	margin-bottom:20px;
}
#ad_order_lst li{
	width:10%;
	float:left;
	height:40px;
	line-height:40px;
	border-bottom:1px solid gray;
}


#ad_order_lst>li:nth-child(9n+1){
	width:15%;
}
#ad_order_lst>li:nth-child(9n+2){
	width:15%;
}
#ad_order_lst>li:nth-child(9n+3){
	width:10%;
}
#ad_order_lst>li:nth-child(9n+4){
	width:10%;
}
#ad_order_lst>li:nth-child(9n+5){
	width:10%;
}
#ad_order_lst>li:nth-child(9n+6){
	width:10%;
}
#ad_order_lst>li:nth-child(9n+7){
	width:10%;
}
#ad_order_lst>li:nth-child(9n+8){
	width:10%;
}
#ad_order_lst>li:nth-child(9n+9){
	width:10%;
}
#ad_order_View{
	border:3px solid #437299;
	border-radius:10px;
	height:545px;
}
#ad_order_View>li{
	float:left;
	width:50%;
	border-bottom:1px solid gray;
	font-size: 1.2em;
	overflow:visible;
	height:40px;
	line-height: 40px;
}
#ad_order_View>li:nth-child(2n+1){
	width:30%;
	text-align:center;
}
#ad_order_View>li:nth-child(2n){
	text-align:left;
	width:70%;
}
#ad_order_View>li:nth-of-type(17){
	height:100px;
	line-height: 100px;
	overflow:visible;
}
.ad_order_Box{
	height:300px;
	border:3px solid #F4BFA9;
}
#ad_order_searchForm>li{
	float:left;
	margin-top:10px;
	margin-bottom:10px;
}
#ad_order_searchForm>li:nth-child(2n+1){
	width:10%;
	text-align:center;
}
#ad_order_searchForm>li:nth-child(2n){
	width:90%;
}
#ad_order_Area{
	border:3px solid #437299;
	border-radius: 10px;
	padding-top:5px;
	padding-bottom:10px;
}
/*愿�由ъ옄 二쇰Ц end*/


/* 愿�由ъ옄 諛곗넚 愿�由� start*/


#ad_delivery_info li{
	float:left;
	width:10%;
}
#ad_delivery_lst{
	overflow:auto;
	border:3px solid #437299;
	border-radius:10px;
	
	margin-bottom:20px;
}
#ad_delivery_lst li{
	width:10%;
	float:left;
	height:40px;
	line-height:40px;
	border-bottom:1px solid gray;
}
#ad_delivery_lst li:nth-child(8n+1){
	width:10%;
}
#ad_delivery_lst li:nth-child(8n+2){
	width:10%;
}
#ad_delivery_lst li:nth-child(8n+3){
	width:15%;
}
#ad_delivery_lst li:nth-child(8n+4){
	width:20%;
}
#ad_delivery_lst li:nth-child(8n+5){
	width:10%;
}
#ad_delivery_lst li:nth-child(8n+6){
	width:15%;
}
#ad_delivery_lst li:nth-child(8n+7){
	width:10%;
}
#ad_delivery_lst li:nth-child(8n+8){
	width:10%;
}

#ad_delivery_View{
	width:80%;
	margin:0 auto;
	overflow: auto;
}
#ad_delivery_View>li{
	float:left;
	width:50%;
	border:1px solid gray;
	font-size: 1.2em;
	line-height:50px;
	height:50px;
}
#ad_delivery_View>li:nth-child(2n+1){
	width:30%;
}
#ad_delivery_View>li:nth-child(2n){
	text-align:left;
	width:70%;
}
.ad_delivery_Box{
	height:300px;
	border:3px solid #F4BFA9;
}


/*愿�由ъ옄 諛곗넚 end*/


/* 愿�由ъ옄 諛섑뭹 愿�由� start*/


#ad_return_info li{
	float:left;
	width:50%;
}
#ad_return_lst{
	border:3px solid #437299;
	border-radius:10px;
	overflow: auto;
}
#ad_return_lst li{
	width:10%;
	float:left;
	height:40px;
	line-height:40px;
	border-bottom:1px solid gray;
}
#ad_return_lst li:nth-child(8n+1){
	width:20%;
}
#ad_return_lst li:nth-child(8n+2){
	width:10%;
}
#ad_return_lst li:nth-child(8n+3){
	width:15%;
}
#ad_return_lst li:nth-child(8n+4){
	width:15%;
}
#ad_return_lst li:nth-child(8n+5){
	width:10%;
}
#ad_return_lst li:nth-child(8n+6){
	width:10%;
}
#ad_return_lst li:nth-child(8n+7){
	width:10%;
}
#ad_return_lst li:nth-child(8n+8){
	width:10%;
}

#ad_return_View{
	width:80%;
	margin:0 auto;
	overflow: auto;
}
#ad_return_View>li{
	float:left;
	width:50%;
	border:1px solid gray;
	font-size: 1.2em;
	line-height:50px;
	height:50px;
}
#ad_return_View>li:nth-child(2n+1){
	width:30%;
}
#ad_return_View>li:nth-child(2n){
	text-align:left;
	width:70%;
}
.ad_return_Box{
	height:300px;
	border:3px solid #F4BFA9;
}


/*愿�由ъ옄 諛섑뭹 end*/



/*愿�由ъ옄 怨듭��궗�빆 由ъ뒪�듃 start*/
	#ad_notice_lst{
		overflow: auto;
		border:3px solid #437299;
		border-radius:10px;
	}
	#ad_notice_lst li{
		float: left;
		width:10%;
		text-align: center;
		border-bottom:1px solid gray;
		line-height:30px;
		height:50px;
	}
	#ad_notice_lst>li:nth-of-type(5n+1){
		width:7%;
	}
	#ad_notice_lst>li:nth-of-type(5n+2){
		width:60%;
	}
	#ad_notice_lst>li:nth-of-type(5n+5){
		width:13%;
	}
	.ad_list_menu{
		margin-top:10px;
		text-align: right;
		overflow: auto;
	}
	.ad_list_menu li{
		height:38px;
		margin-left:10px;
		overflow:auto;
	}
	/*愿�由ъ옄 怨듭��궗�빆 由ъ뒪�듃 end*/
	
	/*愿�由ъ옄 怨듭��궗�빆 湲��벐湲� start*/
	#ad_notice_WriteForm{
		margin-top:30px;
		text-align: left;
	}
	#ad_notice_WriteForm li{
		margin-top:10px;
		margin-bottom:10px;
	}
	
	/*愿�由ъ옄 怨듭��궗�빆 湲��벐湲� end*/
	
	
	/*愿�由ъ옄 1:1臾몄쓽 由ъ뒪�듃 start*/
	#ad_1on1_lst{
		overflow:auto;
		border:3px solid #437299;
		border-radius:10px;
	}
	#ad_1on1_lst li{
		float: left;
		width:12%;
		text-align: center;
		border-bottom:1px solid gray;
		line-height:30px;
		height:50px;
	}
	#ad_1on1_lst>li:nth-of-type(7n+1){
		width:5%;
	}
	#ad_1on1_lst>li:nth-of-type(7n+2){
		width:6%;
	}
	#ad_1on1_lst>li:nth-of-type(7n+4){
		width:45%;
	}
	#ad_1on1_lst>li:nth-of-type(7n+7){
		width:8%;
	}
	/*愿�由ъ옄 1:1臾몄쓽 由ъ뒪�듃 end*/
	/*愿�由ъ옄 1:1臾몄쓽 蹂닿린 start*/
	#ad_1on1_write,#ad_1on1_writeForm{
		overflow:auto;
	}
	#ad_1on1_write li,#ad_1on1_writeForm li{
		text-align:left;
		float:left;
		margin:5px 0px;
	}
	#ad_1on1_write>li:last-child{
		overflow:auto;
		float:none;
	}
	.content_center{
		text-align: center;
	}
	/*愿�由ъ옄 1:1臾몄쓽 蹂닿린 end*/
	
	/*愿�由ъ옄 �씠踰ㅽ듃 湲��벐湲� start*/
	/*bottom �궡由ш린*/
	.container{
		overflow:auto;
		height:auto;
	}
	/*愿�由ъ옄 �씠踰ㅽ듃 湲��벐湲� end*/
	
	/*愿�由ъ옄 �씠踰ㅽ듃 由ъ뒪�듃 start*/
	
	#ad_event_header li{
		float: left;
		width:10%;
		border:1px solid gray;
		line-height:30px;
		height:50px;
	}
	#ad_event_header li:nth-of-type(7n+1){
		width:5%;
	}
	#ad_event_header li:nth-of-type(7n+3){
		width:15%;
	}
	#ad_event_header li:nth-of-type(7n+4){
		width:40%;
	}
	#ad_event_lst li{
		overflow:auto;
		float: left;
		width:10%;
		border-bottom:1px solid gray;
		line-height:50px;
		height:50px;
		overflow:hidden;
	}
	#ad_event_lst img{
		width:100%;
		height:100%;
	}
	#ad_event_lst li:nth-of-type(5n+1){
		width:10%;
	}
	#ad_event_lst li:nth-of-type(5n+2){
		width:60%;
	}
	#ad_event_lst li:nth-of-type(5n+3){
		width:10%;
	}
	#ad_event_lst li:nth-of-type(5n+3){
		width:10%;
	}
	#ad_event_lst li:nth-of-type(5n+4){
		width:10%;
	}
	/*愿�由ъ옄 �씠踰ㅽ듃 由ъ뒪�듃 end*/
	
	/*愿�由ъ옄 �씠踰ㅽ듃 由ъ뒪�듃 start*/
	#ad_event_writeForm{
		overflow: auto;
		border:3px solid #437299;
		border-radius: 10px;
		margin-bottom:20px;
	}
	/*愿�由ъ옄 �씠踰ㅽ듃 由ъ뒪�듃 end*/

	/*愿�由ъ옄 �젙�궛愿�由� 由ъ뒪�듃 start*/
	.textSize{
		font-size: 24px;
	}
	#ad_settle_lst{
		border:3px solid #437299;
		border-radius:10px;
		overflow:auto;
		text-align: center;
	}
	#ad_settle_lst li{
		border-bottom:1px solid gray;
		float:left;
		width:15%;
		height:50px;
		font-size:15px;
		line-height:50px;
		
	}
	#ad_settle_lst li:nth-of-type(9n+1){
		width:5%;
	}
	#ad_settle_lst li:nth-of-type(9n+2){
		width:10%;
	}
	#ad_settle_lst li:nth-of-type(9n+3){
		width:10%;
	}
	#ad_settle_lst li:nth-of-type(9n+4){
		width:20%;
	}
	#ad_settle_lst li:nth-of-type(9n+5){
		width:15%;
	}
	#ad_settle_lst li:nth-of-type(9n+6){
		width:10%;
	}
	#ad_settle_lst li:nth-of-type(9n+7){
		width:10%;
	}
	#ad_settle_lst li:nth-of-type(9n+8){
		width:10%;
	}
	#ad_settle_lst li:nth-of-type(9n+9){
		width:10%;
	}

	/*愿�由ъ옄 �젙�궛愿�由� 由ъ뒪�듃 end*/
	
	
	/* paymentStore start */
		#ad_paymentStore_lst{
		border:3px solid #437299;
		border-radius:10px;
		overflow:auto;
		text-align: center;
	}
	#ad_paymentStore_lst li{
		border-bottom:1px solid gray;
		float:left;
		width:15%;
		height:50px;
		font-size:15px;
		line-height:50px;
		
	}
	#ad_paymentStore_lst li:nth-of-type(9n+1){
		width:5%;
	}
	#ad_paymentStore_lst li:nth-of-type(9n+2){
		width:10%;
	}
	#ad_paymentStore_lst li:nth-of-type(9n+3){
		width:5%;
	}
	#ad_paymentStore_lst li:nth-of-type(9n+4){
		width:25%;
	}
	#ad_paymentStore_lst li:nth-of-type(9n+5){
		width:15%;
	}
	#ad_paymentStore_lst li:nth-of-type(9n+6){
		width:10%;
	}
	#ad_paymentStore_lst li:nth-of-type(9n+7){
		width:10%;
	}
	#ad_paymentStore_lst li:nth-of-type(9n+8){
		width:10%;
	}
	#ad_paymentStore_lst li:nth-of-type(9n+9){
		width:10%;
	}
	
	/* payment Class */
	
	#ad_paymentClass_lst{
		border:3px solid #437299;
		border-radius:10px;
		overflow:auto;
		text-align: center;
	}
	#ad_paymentClass_lst li{
		border-bottom:1px solid gray;
		float:left;
		width:15%;
		height:50px;
		font-size:15px;
		line-height:50px;
		
	}

	#ad_paymentClass_lst li:nth-of-type(8n+1){
		width:10%;
	}
	#ad_paymentClass_lst li:nth-of-type(8n+2){
		width:10%;
	}
	#ad_paymentClass_lst li:nth-of-type(8n+3){
		width:20%;
	}
	#ad_paymentClass_lst li:nth-of-type(8n+4){
		width:20%;
	}
	#ad_paymentClass_lst li:nth-of-type(8n+5){
		width:10%;
	}
	#ad_paymentClass_lst li:nth-of-type(8n+6){
		width:10%;
	}
	#ad_paymentClass_lst li:nth-of-type(8n+7){
		width:10%;
	}
	#ad_paymentClass_lst li:nth-of-type(8n+8){
		width:10%;
	}
	
	
	/*愿�由ъ옄 �뒪�넗�뼱愿�由� start*/
	#ad_goods_lst{
		overflow: auto;
		border:3px solid #437299;
		border-radius:10px;
		margin-bottom:20px;
	}
	#ad_goods_lst>li{
		float:left;
		width:10%;
		height:50px;
		line-height:50px;
		border-bottom:1px solid gray;
	}
	#ad_goods_lst>li:nth-child(8n+1){
		width:15%;
	}
	#ad_goods_lst>li:nth-child(8n+2){
		width:10%;
	}
	#ad_goods_lst>li:nth-child(8n+3){
		width:25%;
	}
	#ad_goods_lst>li:nth-child(8n+4){
		width:10%;
	}
	#ad_goods_lst>li:nth-child(8n+5){
		width:10%;
	}	
	#ad_goods_lst>li:nth-child(8n+6){
		width:10%;
	}
	#ad_goods_lst>li:nth-child(8n+7){
		width:10%;
	}
	#ad_goods_lst>li:nth-child(8n+8){
		width:10%;
	}	
	#ad_goods_viewForm{
		overflow:auto;
		font-size: 1.2em;
		border:3px solid #437299;
		border-radius:10px; 
	}
	#ad_goods_viewForm li{
		margin:10px 0px;
	}
	#ad_goods_viewForm>li:first-child{
		float:left;
		width:50%;
	}
	#ad_goods_viewForm>li:last-child{
		float:left;
		width:50%;
	}
	#ad_goods_info,#ad_goods_inquiry,#ad_goods_review,#ad_video_priview{
		overflow:auto;
		border:3px solid #437299;
		border-radius: 10px; 
		margin:10px 0px;
	}
	#ad_video_priview>li{
		float:left;
		height:40px;
		line-height:40px;
		border-bottom:1px solid gray;
		width:10%;
	}
	#ad_video_priview>li:nth-child(7n+4),#ad_video_priview>li:nth-child(7n+5){
		width:25%;
	}
	#ad_goods_inquiry>li{
		float:left;
		height:40px;
		line-height:40px;
		border-bottom:1px solid gray;
		width:10%;
	}
	#ad_goods_inquiry>li:nth-child(7n+1){
		width:5%;
	}
	#ad_goods_inquiry>li:nth-child(7n+3){
		width:45%;
	}
	#ad_goods_review>li{
		float:left;
		width:10%;
		height:40px;
		line-height:40px;
		border-bottom: 1px solid gray;
	}
	#ad_goods_review>li:nth-child(8n+1){
		width:5%;
	}
	#ad_goods_review>li:nth-child(8n+3){
		width:35%;
	}
	#ad_goods_writeForm{
		border:3px solid #437299;
		border-radius:10px;
		overflow:auto;
		width : 80%;
		margin :0 auto;
	}
	#ad_goods_writeForm li{
		float:left;
		margin-top:5px;
		margin-bottom:5px;
	}
	#ad_goods_writeForm>li{
		height:550px;
		width:100%;
	}
	#ad_goods_writeForm ul>li:nth-child(2n+1){
		width:50%;
	}
	#ad_goods_writeForm ul>li:nth-child(2n){
		width:50%;
	}
	
	/*愿�由ъ옄 �뒪�넗�뼱愿�由� end*/
	
	
	#ad_Event_writeForm{
		border:3px solid #437299;
		border-radius:10px;
		overflow:auto;
		width : 80%;
		margin :0 auto;
	}
	#ad_Event_writeForm li{
		float:left;
		margin-top:5px;
		margin-bottom:5px;
	}
	#ad_Event_writeForm>li{
		height:200px;
		width:100%;
	}
	#ad_Event_writeForm ul>li:nth-child(2n+1){
		width:50%;
	}
	#ad_Event_writeForm ul>li:nth-child(2n){
		width:50%;
	}
	
		
	#ad_Event_viewForm{
		border:3px solid #437299;
		border-radius:10px;
		overflow:auto;
		width : 80%;
		margin :0 auto;
	}
	#ad_Event_viewForm li{
		float:left;
		margin-top:5px;
		margin-bottom:5px;
	}
	#ad_Event_viewForm>li{
		height:300px;
		width:100%;
	}
	#ad_Event_viewForm ul>li:nth-child(2n+1){
		width:50%;
	}
	#ad_Event_viewForm ul>li:nth-child(2n){
		width:50%;
	}
	/*愿�由ъ옄 由ъ뒪�듃 �럹�씠吏� start*/
	#paging{
		margin-top:20px;
		width:50%;
		margin:0 auto;
		font-size: 1.5em;
		overflow: auto;
	}
	#paging li{
		width:12%;
		float:left;
		text-align:center;
	}
	#paging li:first-child,#paging li:last-child{
		width:20%;
	}
	.paging_num{
		text-decoration: none;
		color:black;
		line-height: 50px;
	}
	
	/*愿�由ъ옄 由ъ뒪�듃 �럹�씠吏� end*/
	.container h1{
		text-align: center;
	}
	/*  creator */

	/*�겕由ъ뿉�씠�꽣 留덉씠�겢�옒�뒪 由ъ뒪�듃 start*/
	
	.cr_MyClass_header li{
		float: left;
		width:10%;
		border-bottom:1px solid gray;
		line-height:50px;
		height:50px;
	}
	.cr_MyClass_header li:nth-of-type(8n+1){
		width:5%;
	}
	.cr_MyClass_header li:nth-of-type(8n+3){
		width:15%;
	}
	.cr_MyClass_header li:nth-of-type(8n+4){
		width:10%;
	}
	.cr_MyClass_header li:nth-of-type(8n+5){
		width:30%;
	}
	.cr_MyClass_lst{
		padding-left:0px;
		border:3px solid #437299;
		border-radius:10px;
		overflow:auto;
	}
	.cr_MyClass_lst li{
		overflow:auto;
		float: left;
		width:10%;
		border-bottom:1px solid gray;
		line-height:100px;
		height:120px;
		vertical-align:middle;
	 	overflow: auto;	
	}
	.cr_MyClass_lst img{
		
		width:90%;
		height:90%;
	}
	.cr_MyClass_lst li:nth-of-type(8n+1){
		width:5%;
	}
	.cr_MyClass_lst li:nth-of-type(8n+3){
		width:15%;
		padding:7px;
	}
	.cr_MyClass_lst li:nth-of-type(8n+4){
		width:10%;
	}
	.cr_MyClass_lst li:nth-of-type(8n+5){
		width:30%;
	}
	/*�겕由ъ뿉�씠�꽣 留덉씠�겢�옒�뒪 由ъ뒪�듃 end*/
	
	
	/*�겕由ъ뿉�씠�꽣 �떊泥��겢�옒�뒪 由ъ뒪�듃 start*/
	
	.cr_Approval_header li{
		float: left;
		width:10%;
		border:1px solid gray;
		line-height:30px;
		height:50px;
	}
	.cr_Approval_header li:nth-of-type(7n+1){
		width:5%;
	}
	.cr_Approval_header li:nth-of-type(7n+3){
		width:15%;
	}
	.cr_Approval_header li:nth-of-type(7n+4){
		width:10%;
	}
	.cr_Approval_header li:nth-of-type(7n+5){
		width:40%;
	}
	.cr_Approval_lst li{
		overflow:auto;
		float: left;
		width:10%;
		border:1px solid gray;
		line-height:100px;
		height:120px;
	}
	.cr_Approval_lst img{
		width:100%;
		height:100%;
	}
	.cr_Approval_lst li:nth-of-type(7n+1){
		width:5%;
	}
	.cr_Approval_lst li:nth-of-type(7n+3){
		width:15%;
	}
	.cr_Approval_lst li:nth-of-type(7n+4){
		width:10%;
	}
	.cr_Approval_lst li:nth-of-type(7n+5){
		width:40%;
	}
	/*�겕由ъ뿉�씠�꽣 �겢�옒�뒪�떊泥� 由ъ뒪�듃 end*/
	
	/*�겕由ъ뿉�씠�꽣 �겢�옒�뒪�떊泥� 湲��벐湲� start*/
	#ps{
		font-size:0.5em;
		color:red;
	}
	/*�겕由ъ뿉�씠�꽣 �겢�옒�뒪�떊泥� 湲��벐湲� end*/
	
	/*�겕由ъ뿉�씠�꽣 吏덈Ц/�떟蹂� 紐⑸줉 start*/
	#cr_classQuestion_lst li{
		width:15%;
		float:left;
	}
	#cre_classQuestion_lst li:nth-child(6n+2){
		width:25%;
		float:left;
	}
	/*�겕由ъ뿉�씠�꽣 吏덈Ц/�떟蹂� 紐⑸줉 end*/
	
	
	/*愿�由ъ옄 �겕由ъ뿉�씠�꽣 由ъ뒪�듃 start*/
	.textSize{
		font-size: 24px;
	}
	#cr_settle_lst{
		border:3px solid #437299;
		border-radius:10px;
		margin-top:30px;
		text-align: center;
		overflow: auto;
	}
	#cr_settle_lst li{
		border-bottom:1px solid gray;
		float:left;
		width:10%;
		height:50px;
		font-size:15px;
		line-height:50px;
		
	}
	#cr_settle_lst li:nth-of-type(8n+1),#cr_settle_lst li:nth-of-type(8n+4){
		width:20%;
	}
	/*�겕由ъ뿉�씠�꽣 �젙�궛愿�由� 由ъ뒪�듃 end*/

/*�겕由ъ뿉�씠�꽣 怨듭��궗�빆 由ъ뒪�듃 start*/
	#cr_notice_lst li{
		float: left;
		width:10%;
		text-align: center;
		border-bottom:1px solid gray;
		line-height:30px;
		height:50px;
	}
	#cr_notice_lst>li:nth-of-type(6n+1){
		width:7%;
	}
	#cr_notice_lst>li:nth-of-type(6n+3){
		width:50%;
	}
	#cr_notice_lst>li:nth-of-type(6n+5){
		width:13%;
	}
	.cr_list_menu{
		margin-top:10px;
		height:50px;
		text-align: right;
	}
	/*愿�由ъ옄 怨듭��궗�빆 由ъ뒪�듃 end*/
	
	/*�겕由ъ뿉�씠�꽣  怨듭��궗�빆 湲��벐湲� start*/
	#cr_notice_WriteForm{
		margin-top:30px;
		text-align: left;
	}
	#cr_notice_WriteForm li{
		margin-top:10px;
		margin-bottom:10px;
	}
	
	/*�겕由ъ뿉�씠�꽣 怨듭��궗�빆 湲��벐湲� end*/





	/*�겕由ъ뿉�씠�꽣 1:1臾몄쓽 由ъ뒪�듃 start*/
	#cr_1on1_lst li{
		float: left;
		width:12%;
		text-align: center;
		border-bottom:1px solid gray;
		line-height:30px;
		height:50px;
	}
	#cr_1on1_lst>li:nth-of-type(7n+1){
		width:5%;
	}
	#cr_1on1_lst>li:nth-of-type(7n+2){
		width:6%;
	}
	#cr_1on1_lst>li:nth-of-type(7n+4){
		width:45%;
	}
	#cr_1on1_lst>li:nth-of-type(7n+7){
		width:8%;
	}
	/*�겕由ъ뿉�씠�꽣 1:1臾몄쓽 由ъ뒪�듃 end*/
	/*�겕由ъ뿉�씠�꽣 1:1臾몄쓽 蹂닿린 start*/
	#cr_1on1_write,#cr_1on1_writeForm{
		overflow:auto;
	}
	#cr_1on1_write li,#cr_1on1_writeForm li{
		text-align:left;
		float:left;
	}
	#cr_1on1_write>li:last-child{
		overflow:auto;
		float:none;
	}
	.content_center{
		text-align: center;
	}
	/*�겕由ъ뿉�씠�꽣 1:1臾몄쓽 蹂닿린 end*/
	
	/* 크리에이터 정산관리 */
	
	#creator_settle_lst{
		border:3px solid #437299;
		border-radius:10px;
		overflow:auto;
		text-align: center;
	}
	#creator_settle_lst li{
		border-bottom:1px solid gray;
		float:left;
		width:15%;
		height:50px;
		font-size:15px;
		line-height:50px;
		
	}
	#creator_settle_lst li:nth-of-type(8n+1){
		width:10%;
	}
	#creator_settle_lst li:nth-of-type(8n+2){
		width:10%;
	}
	#creator_settle_lst li:nth-of-type(8n+3){
		width:25%;
	}
	#creator_settle_lst li:nth-of-type(8n+4){
		width:15%;
	}
	#creator_settle_lst li:nth-of-type(8n+5){
		width:15%;
	}
	#creator_settle_lst li:nth-of-type(8n+6){
		width:10%;
	}
	#creator_settle_lst li:nth-of-type(8n+7){
		width:10%;
	}
	#creator_settle_lst li:nth-of-type(8n+8){
		width:5%;
	}

	
	
	

	/* �겕由ъ뿉�씠�꽣 媛��씠�뱶 start*/
		
	.class-guide-image{
		box-shadow: 2px 2px 6px rgba(0,0,0,.1), 0 0 2px rgba(0,0,0,.2); width:100%; height:auto;
	}
	.class-guide-image:hover{
		box-shadow: 2px 2px 6px rgba(0,0,0,.5), 0 0 2px rgba(0,0,0,.7);
	}
	
	.class-guide-title{
		margin-left:2em;
		font-size:3em;
		margin-bottom:20px;
	}
	.class-img-list{
		width:10%;
		float:left;
		list-style:none;
		margin:5px;
		height:200px;
		position:relative;
		z-index:2;
	}
	.class-img-list{
		text-align:center;
		width:19%;
	}
	.class-guide-image:nth-child(5n+1){
		margin-left:8%;
	}
	#guide-btn{
		margin-bottom:100px;
		margin-top:20px;
		width:100%;
	}
	#guide-font{
		font-size:2.5em;
	}
	#guide-font-sub{
		color:#253629;
		font-weight:bold;
		font-size:1.3em;
	}
	/*�겕由ъ뿉�씠�꽣 媛��씠�뱶 end*/
	
	/*�겕由ъ뿉�씠�꽣 �겢�옒�뒪 臾몄쓽 start*/
	#cre_classQuestion_lst li{
		float:left;
		width:15%;
	}
	/*�겕由ъ뿉�씠�꽣 �겢�옒�뒪 臾몄쓽 end*/
	
	.btn{
		background-color: #437299;
		color:white;
	}
	#ad_search_header{
		height:38px;
		margin:10px 0px;
	}
	#ad_search_header>div:first-child{
		 width:30%;
		 line-height: 30px;
	}
	#ad_search_header>div:last-child{
		 text-align:right;
	}
	#ad_settle_info,#ad_video_searchArea{
		border:3px solid #437299;
		border-radius:10px;
		padding:20px;
		margin-bottom:10px;
		overflow:auto;
	}
	#ad_video_searchList>li{
		float:left;
		margin:5px 0px;
	}
	#ad_video_searchList>li:nth-of-type(2n+1){
		text-align:center;
		width:20%;
	}
	#ad_video_searchList>li:nth-of-type(2n){
		width:80%;
	}
	#ad_video_lstArea{
		margin-top:20px;
		overflow:auto;
		border:3px solid #437299;
		border-radius:10px;
	}
	#ad_video_Lst li{
		float:left;
		width:10%;
		height:40px;
		line-height: 40px;
		border-bottom:1px solid gray;
		text-align: center;
	}
	#ad_video_Lst li:nth-child(9n+5){
		width:20%;
	}
	#ad_video_Lst li:nth-child(9n+6){
	}
	.ad_box{
		margin:10px 0px;
		border:3px solid #437299;
		border-radius:10px;
		overflow: auto;
	}
	.add_img{
		border-radius: 10px; 
	}
	